<!doctype html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <script src="/static/javascript/main.js" defer></script>
        {{ project.unique_id|json_script:"embed-project-id" }}
    </head>

    <body>
        <div class="flex-this {% if align == 'right' %}flex-end{% else %}flex-start{% endif%} wrap w-100" style="padding: 12px;padding-bottom: 0px;">
            {% if not layout or layout == "1" %}
                <!-- Icons w/o title -->
                <div>
                    {% if notices %}
                        {% for notice in notices %}
                            <img loading="lazy" class="pointer" height="60px" src="{{ notice.img_url }}" alt="" style="margin:12px;">
                        {% endfor %}
                    {% endif %}

                    {% if project.has_bclabels or project.has_tklabels %}
                        {% for community, labels in label_groups.items %}
                            {% for tklabel in labels.tk_labels %}
                                <img loading="lazy" class="pointer" height="60px" src="{{ tklabel.img_url }}" alt="" style="margin:12px;">
                            {% endfor %}
                            {% for bclabel in labels.bc_labels %}
                                <img loading="lazy" class="pointer" height="60px" src="{{ bclabel.img_url }}" alt="" style="margin:12px;">
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif%}
            
            {% if layout == "2" %}
                <!-- Icons w/ title -->
                {% if notices %}
                    {% for notice in notices %}
                        <div class="flex-this column center-text" style="max-width: 175px;">
                            {% if not lang or lang == 'en' %}
                                <div style="margin: 12px;">
                                    <img loading="lazy" class="pointer" width="119px" src="{{ notice.img_url }}" alt="">
                                    <p class="margin-top-8 font-size-14">
                                        {% if notice.notice_type == 'traditional_knowledge' %} Traditional Knowledge Notice{% endif %}
                                        {% if notice.notice_type == 'biocultural' %} Biocultural Notice{% endif %}
                                        {% if notice.notice_type == 'attribution_incomplete' %} Attribution Incomplete Notice{% endif %}
                                    </p>
                                </div>
                                
                            {% else %}
                                {% for translation in notice.notice_translations.all %}
                                    {% if lang == translation.language_tag %}
                                        <div style="margin: 12px;">
                                            <img loading="lazy" class="pointer" width="119px" src="{{ notice.img_url }}" alt="">
                                            <p class="margin-top-8 font-size-14">{{ translation.translated_name }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}

                {% if project.has_bclabels or project.has_tklabels %}
                    {% for community, labels in label_groups.items %}
                        {% for tklabel in labels.tk_labels %}
                            <div class="flex-this column center-text" style="max-width: 175px;">
                                {% if not lang or lang == 'en' %}
                                    <div style="margin: 12px;">
                                        <img loading="lazy" class="pointer" width="119px" src="{{ tklabel.img_url }}" alt="">
                                        <p class="margin-top-8 font-size-14">{{ tklabel.name }}</p>
                                    </div>

                                {% else %}
                                    {% for translation in tklabel.tklabel_translation.all %}
                                        {% if lang == translation.language_tag %}
                                            <div style="margin: 12px;">
                                                <img loading="lazy" class="pointer" width="119px" src="{{ tklabel.img_url }}" alt="">
                                                <p class="margin-top-8 font-size-14">{{ translation.translated_name }}</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}

                        {% for bclabel in labels.bc_labels %}
                            <div class="flex-this column center-text" style="max-width: 175px;">
                                {% if not lang or lang == 'en' %}
                                    <div style="margin: 12px;">
                                        <img loading="lazy" class="pointer" width="119px" src="{{ bclabel.img_url }}" alt="">
                                        <p class="margin-top-8 font-size-14">{{ bclabel.name }}</p>
                                    </div>

                                {% else %}
                                    {% for translation in bclabel.bclabel_translation.all %}
                                        {% if lang == translation.language_tag %}
                                            <div style="margin: 12px;">
                                                <img loading="lazy" class="pointer" width="119px" src="{{ bclabel.img_url }}" alt="">
                                                <p class="margin-top-8 font-size-14">{{ translation.translated_name }}</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endif%}
            
            {% if layout == "3" %}
                <!-- Full Text -->
                {% if notices %}
                    {% for notice in notices %}
                        <div class="flex-this w-100">
                            {% if not lang or lang == 'en' %}
                                <div style="margin: 12px;">
                                    <img loading="lazy" class="pointer" width="119px" src="{{ notice.img_url }}" alt="">
                                </div>
                                <div style="margin: 12px;">
                                    <h3 style="margin-top: 0;margin-bottom: 0;">
                                        {% if notice.notice_type == 'traditional_knowledge' %} Traditional Knowledge {% endif %}
                                        {% if notice.notice_type == 'biocultural' %} Biocultural {% endif %}
                                        {% if notice.notice_type == 'attribution_incomplete' %} Attribution Incomplete {% endif %}
                                    </h3>
                                    <h4 style="margin-top: 10px;margin-bottom: 10px;">English</h4>
                                    <p style="margin-top: 10px;margin-bottom: 10px;">{{ notice.default_text }}</p>
                                </div>
                            
                            {% else %}
                                {% for translation in notice.notice_translations.all %}
                                    {% if lang == translation.language_tag %}
                                        <div style="margin: 12px;">
                                            <img loading="lazy" class="pointer" width="119px" src="{{ notice.img_url }}" alt="">
                                        </div>
                                        <div style="margin: 12px;">
                                            <h3 style="margin-top: 0;margin-bottom: 0;">{{ translation.translated_name }}</h3>
                                            <h4 style="margin-top: 10px;margin-bottom: 10px;">{{ translation.language }}</h4>
                                            <p style="margin-top: 10px;margin-bottom: 10px;">{{ translation.translated_text }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}

                {% if project.has_bclabels or project.has_tklabels %}
                    {% for community, labels in label_groups.items %}
                        {% for tklabel in labels.tk_labels %}
                            <div class="flex-this w-100">
                                {% if not lang or lang == 'en' and lang == tklabel.language_tag %}
                                    <div style="margin: 12px;">
                                        <img loading="lazy" class="pointer" width="119px" src="{{ tklabel.img_url }}" alt="">
                                    </div>
                                    <div style="margin: 12px;">
                                        <h3 style="margin-top: 0;margin-bottom: 0;">{{ tklabel.name}}</h3>
                                        <h4 style="margin-top: 10px;margin-bottom: 10px;">{{ tklabel.language}}</h4>
                                        <p style="margin-top: 10px;margin-bottom: 10px;">{{ tklabel.label_text}}</p>
                                    </div>

                                {% else %}
                                    {% for translation in tklabel.tklabel_translation.all %}
                                        {% if lang == translation.language_tag %}
                                            <div style="margin: 12px;">
                                                <img loading="lazy" class="pointer" width="119px" src="{{ tklabel.img_url }}" alt="">
                                            </div>
                                            <div style="margin: 12px;">
                                                <h3 style="margin-top: 0;margin-bottom: 0;">{{ translation.translated_name }}</h3>
                                                <h4 style="margin-top: 10px;margin-bottom: 10px;">{{ translation.language}}</h4>
                                                <p style="margin-top: 10px;margin-bottom: 10px;">{{ translation.translated_text }}</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}


                        {% for bclabel in labels.bc_labels %}
                            <div class="flex-this w-100">
                                {% if not lang or lang == 'en' and lang == bclabel.language_tag %}
                                    <div style="margin: 12px;">
                                        <img loading="lazy" class="pointer" width="119px" src="{{ bclabel.img_url }}" alt="">
                                    </div>
                                    <div style="margin: 12px;">
                                        <h3 style="margin-top: 0;margin-bottom: 0;">{{ bclabel.name}}</h3>
                                        <h4 style="margin-top: 10px;margin-bottom: 10px;">{{ bclabel.language}}</h4>
                                        <p style="margin-top: 10px;margin-bottom: 10px;">{{ bclabel.label_text}}</p>
                                    </div>

                                {% else %}
                                    {% for translation in bclabel.bclabel_translation.all %}
                                        {% if lang == translation.language_tag %}
                                            <div style="margin: 12px;">
                                                <img loading="lazy" class="pointer" width="119px" src="{{ bclabel.img_url }}" alt="">
                                            </div>
                                            <div style="margin: 12px;">
                                                <h3 style="margin-top: 0;margin-bottom: 0;">{{ translation.translated_name }}</h3>
                                                <h4 style="margin-top: 10px;margin-bottom: 10px;">{{ translation.language}}</h4>
                                                <p style="margin-top: 10px;margin-bottom: 10px;">{{ translation.translated_text }}</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}    
            {% endif %}
        </div>

        <div class="flex-this wrap w-100 {% if align == 'right' %}flex-end{% else %}flex-start{% endif%}" style="padding: 12px; padding-top: 0px;">
            <div class="margin-left-8 margin-right-8" style="display: inherit;">
                <a href="https://localcontexts.org" style="display: inline-flex;">
                    <img style="width:30px;" src="https://localcontexts.org/wp-content/uploads/2023/04/White-Background.png" alt="Local Contexts Icon">
                </a>
            </div>
            <div class="font-size-14 align-center flex-this margin-right-8">
                <a id="project-link" class="darkteal-text underline-hover bold pointer" href="{{project.project_page}}" target="_top" rel="noopener noreferrer">Local Contexts Project: {{project.title}}</a>
            </div>
        </div>
    </body>

    <style>
        body {
            background: none transparent;
        }
    </style>
</html>