{% extends 'account-settings-base.html' %} {% load static %} {% block account_settings %}
    <style>
        .border-hr{
            border: 1px solid #DDDDDD;
        }
        #preview-boundary-container{
            display: flex;
            justify-content: space-between;
        }
        #boundary-container-right{
            display: flex;
            flex-direction: row;
        }
        .center-boundary-container-item-vertically{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        #remove-boundary{
            font-weight: bold;
            color: #007385;
            cursor: pointer;
            margin-right: 30px;
        }
        #preview-container-wrapper.hidden-element{
            display: none;
        }

        #community-boundary-update{
            margin-top: 20px;
        }
    </style>

    <script>
        async function resetBoundary(){
            // do post call to reset boundary in request
            const response = await fetch("{% url 'reset-community-boundary' community.id %}", {
                method: 'POST',
                headers: {
                'X-CSRFToken': '{{csrf_token}}'
                }
            })
            if (response.status !== 204) {
                alert('Error Resetting Boundary')
            }
            document.querySelector('#preview-container-wrapper').classList.add('hidden-element')
        }
    </script>
    <div class="flex-this space-between">
        <div><h2 class="mt-0">Account Boundary</h2></div>
    </div>
    <div>Edit and manage your community boundary.</div>
    <hr class="border-hr">

    {% if community.name_of_boundary %}
        <div id="preview-container-wrapper">
            <div id="preview-boundary-container">
                <strong class="center-boundary-container-item-vertically">
                    {{ community.name_of_boundary }} (territories)
                </strong>

                <div id="boundary-container-right">
                    <div id="remove-boundary" class="center-boundary-container-item-vertically"
                        onclick="resetBoundary(); event.preventDefault()">
                        Remove
                    </div>
                    <div class="center-boundary-container-item-vertically">
                    <a class="primary-btn green-btn mt-2p"
                    href="{% url 'community-boundary-view' community.id %}"
                    target="_blank">
                        View Location
                        <i class="fa fa-arrow-up-right-from-square"></i>
                    </a>
                    </div>
                </div>

            </div>
        <hr class="border-hr">
        </div>
    {% endif %}

    <div id="community-boundary-update" class="w-80">
        <div class="flex-this space-between">
            <div><h2 class="mt-0">Community Boundary</h2></div>
        </div>
        <div>
            Add your community boundary by either searching the Native Land Digital database or uploading a shape file
        </div>

        {% include 'boundary/update-boundary-via-native-land-and-shapefile.html' with entity=community %}
    </div>
{% endblock %}