{% extends 'account-settings-base.html' %}{% load static %} {% load custom_acct_tags %}

{% block account_settings %}
<style>
    #settings-tooltip.tooltiptext::after{
        left: 122%;
    }

    #settings-tooltip.tooltiptext {
        left: -230px;
    }
</style>

<div>
    <h2 class="mt-0">Linked Service Providers</h2>
    <p class="mt-0">
        A Service Provider is an organization that offers data or collection management platforms. By connecting to a Service Provider below, you can allow that system to view your Local Contexts Projects.
    </p>
</div>

<!-- Connected Service Providers -->
<div>
    <h3>Connected Service Providers</h3>
    {% if connected_service_providers %}
        {% for service_provider in connected_service_providers %}
            <div class="flex-this space-between border-top-bottom-grey w-100 align-center pad-16">
                <div class="w-70">
                    <p>{{ service_provider.name }}</p>
                </div>
                <button
                    name="disconnectServiceProviderbtn"
                    data-name="{{ service_provider.name }}"
                    data-id="{{ service_provider.id }}"
                    class="primary-btn white-btn"
                >
                    Disconnect <i class="fa-solid fa-link-simple-slash"></i>
                </button>
            </div>
        {% endfor %}
    {% else %}
        <p class="italic">
            No service providers are currently connected. Please click the plus button below to search for and connect with service providers.
        </p>
    {% endif %}
</div>

<!-- Add Service Providers -->
<div class="section-header-div border-top-solid-teal border-bottom-solid-teal flex-this space-between">
    <h3>Add Service Providers</h2>
    <h3 class="mr-8 pointer" onclick="toggleSectionInfo(this, 'addServiceProvidersDiv')">
        <i class="fa-solid fa-{% if request.GET.q %}minus{% else %}plus{% endif %} fa-xl darkteal-text"></i>
    </h3>
</div>
<div
    id="addServiceProvidersDiv"
    class="mb-16"
    {% if request.GET.q %}
        style="height:auto; overflow: visible;"
    {% else %}
        style="height: 0px; overflow: hidden;"
    {% endif %}
>
    <!-- Search -->
    <div class="mb-16">
        <p>Search for a service provider</p>
        <div class="w-60">
            <form class="default-searchbar w-100" method="GET" action="">
                <input
                    type="search"
                    name="q"
                    placeholder="Search"
                    autocomplete="off"
                    {% if request.GET.q %}value="{{ request.GET.q }}"{% endif %}
                >
                <button class="search-btn">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </div>

    <p class="mb-8">
        <small>Displaying {{ other_service_providers.count }} service provider(s)</small>
    </p>
    {% for service_provider in other_service_providers %}
        <div class="flex-this space-between border-top-bottom-grey w-100 align-center pad-16">
            <div class="w-85">
                <p>{{ service_provider.name }}</p>
            </div>

            <div class="w-15">
                {% if institution.is_subscribed or researcher.is_subscribed or community.is_approved %}
                    {% if not service_provider.certification_type == 'manual'%}
                        <button
                            name="connectServiceProviderbtn"
                            class="primary-btn action-btn w-100"
                            data-name="{{ service_provider.name }}"
                            data-id="{{ service_provider.id }}"
                        >
                            Connect <i class="fa-solid fa-link-simple"></i>
                        </button>
                    {% elif service_provider.certification_type == 'manual' %}
                        <a
                            class="primary-btn action-btn w-100"
                            href="{{ service_provider.documentation }}"
                            target="_blank"
                        >
                            More Info <i class="fa fa-arrow-right"></i>
                        </a>
                    {% endif %}
                {% else %}
                    {% if not service_provider.certification_type == 'manual'%}
                        <div class="btn-with-helptext">
                            <a
                                class="primary-btn disabled-btn w-100"
                            >
                                Connect <i class="fa-solid fa-link-simple"></i>
                            </a>
                            <span class="btn-help-text">
                                Your account needs to be {% if community %}confirmed{% else %}subscribed{% endif %} to connect to Service Providers.
                            </span>
                        </div>
                    {% elif service_provider.certification_type == 'manual' %}
                        <a
                            class="primary-btn action-btn w-100"
                            href="{{ service_provider.documentation }}"
                            target="_blank"
                        >
                            More Info <i class="fa fa-arrow-right"></i>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>


<!-- Connect Service Provider Modal -->
<div id="connectServiceProvidermodal" class="modal hide">

    <div class="modal-defaults share-modal flex-this column w-100">

        <div class="flex-this space-between">
            <div class="flex-this">
                <h2 class="primary-black-text mt-0">Connect Service Provider</h2>
            </div>
        </div>

        <div class="w-100">
            <p class="mt-0">
                When you link your Hub account, <span id="connectServiceProvidername" class="bold"></span> will be able to:
            </p>
            <ul>
                <li>See basic account information</li>
                <li>See your Projects</li>
            </ul>
            <p>
                Once linked, you can disconnect this link in the Service Providers settings tab in your account settings.
            </p>

            <div class="flex-this column gap-half">
                <form id="connectServiceProviderForm" method="POST">
                    {% csrf_token %}
                    <button
                        id="continueServiceProviderConnectBtn"
                        class="primary-btn action-btn w-100"
                        name="connectServiceProvider"
                        value=""
                    >
                        Connect with this Service Provider
                    </button>
                </form>
                <div id="closeConnectServiceProvidermodal" class="primary-btn white-btn w-100">
                    Cancel
                </div>
            </div>

        </div>
    </div>

</div>

<!-- Disconnect Service Provider Modal -->
<div id="disconnectServiceProvidermodal" class="modal hide">

    <div class="modal-defaults share-modal flex-this column w-100">

        <div class="flex-this space-between">
            <div class="flex-this">
                <h2 class="primary-black-text mt-0">Disconnect from Service Provider?</h2>
            </div>
        </div>

        <div class="w-100">
            <p class="mt-0">
                Are you sure you want to disconnect from <span id="disconnectServiceProvidername" class="bold"></span>? They will no longer be able to:
            </p>
            <ul>
                <li>See basic account information</li>
                <li>See your Projects</li>
            </ul>

            <div class="flex-this column gap-half">
                <form id="disconnectServiceProviderForm" method="POST">
                    {% csrf_token %}
                    <button
                        id="continueServiceProviderDisconnectBtn"
                        class="primary-btn action-btn w-100"
                        name="disconnectServiceProvider"
                        value=""
                    >
                        Yes, disconnect from this Service Provider
                    </button>
                </form>
                <div id="closeDisconnectServiceProvidermodal" class="primary-btn white-btn w-100">
                    Cancel
                </div>
            </div>

        </div>
    </div>

</div>

<!-- Service Provider Settings Modal -->
<div id="serviceProviderSettingsmodal" class="modal hide">

    <div class="modal-defaults share-modal flex-this column w-100">

        <div class="flex-this space-between">
            <div class="flex-this">
                <h2 class="primary-black-text mt-0">Connect Service Provider</h2>
            </div>
        </div>

        <div class="w-100">
            <p class="mt-0">
                When you link your Hub account, <span id="connectServiceProvidername" class="bold"></span> will be able to:
            </p>
            <ul>
                <li>See basic account information</li>
                <li>See your Projects</li>
            </ul>
            <p>
                Once linked, you can disconnect this link in the Service Providers settings tab in your account settings.
            </p>

            <div class="flex-this column gap-half">
                <form id="connectServiceProviderForm" method="POST">
                    {% csrf_token %}
                    <button
                        id="continueServiceProviderConnectBtn"
                        class="primary-btn action-btn w-100"
                        name="connectServiceProvider"
                        value=""
                    >
                        Connect with this Service Provider
                    </button>
                </form>
                <div id="closeConnectServiceProvidermodal" class="primary-btn white-btn w-100">
                    Cancel
                </div>
            </div>

        </div>
    </div>

</div>

{% include 'partials/_alerts.html' %}

<script>
    const connectBtns = document.querySelectorAll(`[name="connectServiceProviderbtn"]`);
    const connectServiceProvidermodal = document.getElementById('connectServiceProvidermodal')
    connectBtns.forEach(btn => {
        btn.addEventListener('click', () => {
            openModal('connectServiceProvidermodal', 'closeConnectServiceProvidermodal');
            connectServiceProvidername.innerHTML = btn.dataset.name;
            continueServiceProviderConnectBtn.value = btn.dataset.id;
        });
    });

    const disconnectBtns = document.querySelectorAll(`[name="disconnectServiceProviderbtn"]`);
    const disconnectServiceProvidermodal = document.getElementById('disconnectServiceProvidermodal')
    disconnectBtns.forEach(btn => {
        btn.addEventListener('click', () => {
            openModal('disconnectServiceProvidermodal', 'closeDisconnectServiceProvidermodal');
            console.log(btn.dataset.name)
            disconnectServiceProvidername.innerHTML = btn.dataset.name;
            continueServiceProviderDisconnectBtn.value = btn.dataset.id;
        });
    });
</script>

{% endblock %}