{% extends 'account-settings-base.html' %}{% load static %}

{% block account_settings %}

<div>
    <h3 class="mt-0">Preferences</h3>
</div>
{% include 'partials/_alerts.html' %}

<form method="POST">
    {% csrf_token %}

    <!-- Show/Hide Connections -->
    <div class="flex-this space-between border-top-bottom-grey w-100 align-center pad-top-1 padding-bottom-1">
        <div>
            <h4 class="mt-15 mb-0">Show Account in Service Provider Connections</h4>
            <p class="font-size-14 mt-8">Allow your account to be included on a Service Provider's public Registry page when you connect to their account.</p>
        </div>
        <div>
            <input
                class="toggle"
                type="checkbox"
                name="show_sp_connection"
                {% if researcher and researcher.show_sp_connection %}checked
                {% elif community and community.show_sp_connection %}checked
                {% elif institution and institution.show_sp_connection %}checked
                {% endif %}
            >
        </div>
    </div>

    <div>
        <button id="savePreferences" class="primary-btn action-btn mt-2p">Save changes</button>
    </div>
</form>

{% endblock %}