{% extends 'register-base.html' %} {% block title %} Create Institution {% endblock %}{% load static %} {% block card %}
<script src="https://www.google.com/recaptcha/api.js?render=6LchglYpAAAAAABKj7CtiTlfvmPVN5eU2DzTVl2U"></script>
<script>
    grecaptcha.ready(function () {
      grecaptcha
        .execute("6LchglYpAAAAAABKj7CtiTlfvmPVN5eU2DzTVl2U", {
          action: "subscription",
        })
        .then(function (token) {
          document.getElementById("g-recaptcha-response").value = token;
        });
    });
  </script>
<div class="flex-this column account-registration-container">
    <div class="flex-this space-between">
        <div><h2 class="mt-0 mb-8">{% if institution %} Institution Account {% else %} Researcher Account {% endif %}</h2></div>
        <div>Or <a class="default-a" href="{% url 'connect-institution' %}">request to join an existing institution</a>  </div>
    </div>

    <p class="mb-0 mt-0">
        {% if institution %}
        The institution details provided below will default to a public display in the Local Contexts Registry.
        Providing your details will give consent to publicly being listed on the Registry.
        Read more about our privacy standards {% else %} A researcher is a person who carries out academic or scientific research
        independently or in an institution, such as archive, library, museum, historical society, gallery, data repository, or university.
        {% endif %}
        <a class="default-a" href="https://localcontexts.org/privacy-policy/" target="_blank" rel="noopener">here <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i></a>
    </p>

    <form action="{% if institution %}{% url 'institution-create-subscription-form' institution.id  %}{% else %}{% url 'researcher-create-subscription-form' researcher.id %}{% endif %}" method="POST" class="flex-this column w-100">
        {% csrf_token %}

        <div class="w-100 flex-this mt-16">
            <div class="w-50 mr-1p">
                <label class="pad-top-1-5" >First Name<span class="orange-text required-label" title="">*</span></label><br>
                {{ subscription_form.first_name }}
            </div>

            <div class="w-50">
                <label>Last Name</label><br>
                {{ subscription_form.last_name }}
            </div>
        </div>

        <div class="mt-8">
            <label>Email<span class="orange-text required-label" title="">*</span></label>
            {{ subscription_form.email }}
        </div>

        <div class="mt-8">
            <label>Institution Name<span class="orange-text required-label" title="">*</span></label>
            {{ subscription_form.organization_name }}
        </div>
        {% if institution %}
        <div class="w-100">
            <div class="pad-top-1-5 radio-group mb-1p">
                <label for="inquiry_type" class="inquiry-label">Inquiry Type<span class="orange-text required-label" title="">*</span></label>
                <div class="tooltip"><strong>i</strong>
                    <span class="tooltiptext">An institution inquiry type allows you to select the desired role for the subscription process.</span>
                </div>
                <br>
                <div class="flex-this row ">
                    <label class="radio-container w-50 mt-2p">
                        <input class="pointer" type="radio" name="inquiry_type" value="Subscription">
                        <span class="ml-5">Subscription</span>
                    </label>
                    <label class="radio-container w-50 mt-2p">
                        <input class="pointer" type="radio" name="inquiry_type" value="Subscription -- CC Notices Only">
                        <span class="ml-5">Collections Care Notices</span>
                    </label>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="flex-this flex-end mt-8">
            <div class="flex-this creat-account__container-width__buttons">
                <input
                type="hidden"
                name="g-recaptcha-response"
                id="g-recaptcha-response"
                />
                
                <div class="mr-8">
                    <button id="clearFormBtn" class="primary-btn white-btn btn-width__clear-form mt-2p">Clear form <i class="fa-regular fa-eraser"></i></button>
                </div>
        
                <div class="flex-this flex-end">
                    <button id="createSubscription" class="primary-btn action-btn mt-2p">
                      Continue <i class="fa fa-arrow-right"></i>
                    </button>
                    <div id="loading-spinner" class="primary-btn action-btn mt-2p hide {% if institution %} disabled-btn {% endif %}">
                      Continue <i class="fa fa-arrow-right"></i>
                      <i class="fa spinner-container fa-spinner fa-spin fa-2x spinner "></i>
                    </div>
                  </div>                 
            </div>
        </div>

    </form>

</div>
{% endblock %}