{% extends 'account-settings-base.html' %}{% load static %}

{% block account_settings %}
  <div class="flex-this space-between">
    <div><h3 class="mt-0">Subscription</h3></div>
  </div>
  <p class="mt-0 {% if subscription is None %} red-text {% endif %}">
    With a subscription, your account will have full access to the Hub’s functionality, including collaboration with Indigenous communities. Read more about subscriptions on our <a class="default-a" href="https://localcontexts.org/members-subscribers-and-service-providers/" target="_blank">website</a>.
    <br><br>
    If you are interested in a subscription or discussing which subscription tier may be the best fit for you, please complete the form below.
  </p>
  {% if subscription is not None %}
  <div class="flex-this space-between">
    <div><h4 class="mb-0 mt-0">Subscription Details</h4></div>
  </div>
  {% endif %}
  {% if renew %}
    <p class="italic red-text"><small>This subscription for this account has expired. Please renew your subscription.</small></p>
    <div>
      <a href="{% if institution %}{% url 'institution-create-subscription-form' institution.id  %}{% else %}{% url 'researcher-create-subscription-form' researcher.id %}{% endif %}">
        <button type="submit" class="primary-btn action-btn" name="generatebtn">Renew Subscription</button>
      </a>
    </div> 
  {% elif subscription is None  %}    
  <div>
    <a href="{% if institution %}{% url 'institution-create-subscription-form' institution.id  %}{% else %}{% url 'researcher-create-subscription-form' researcher.id %}{% endif %}">
      <button type="submit" class="primary-btn action-btn" name="generatebtn">Subscription Interest Form</button>
    </a>
  </div> 
  {% else %}
    <div class="flex-this w-60 subscription-details">
      {% comment %} <div><h6>Entity Type</h6> <p><small>Large Organization <span class="tooltip" style="margin-top: 6px; margin-left: 5px;"><strong>i</strong>
        <span class="tooltiptext">
            Your institution is Large Organization.
        </span>
      </span> </small></p></div> {% endcomment %}
      <div class="pad-left-2"><h5>Start Date</h5> <p>{{ start_date }}</p></div>
      <div class="vl pad-left-2"><h5 class="ml-8 ">End Date</h5> <p class="ml-8 ">{{ end_date }}</p></div>
    </div>
    <div class="flex-this space-between">
      <div><h4 class="mb-0">Subscription Activity</h4></div>
    </div>
    <p class="mt-0">See an overview of the activities happening within your subscription</p>
    <div class="flex-this subscription-activity subscription-details w-80">
      <div><h5>Users Remaining</h5> <p>{% if subscription.users_count != -1 %}{{ subscription.users_count }}{% else %}Unlimited{% endif %}</p></div>
      <div class="vl"><h5>Projects Remaining</h5> <p>{% if subscription.project_count != -1 %}{{ subscription.project_count }}{% else %}Unlimited{% endif %}</p></div>
      <div class="vl"><h5>Notifications Remaining</h5> <p>{% if subscription.notification_count != -1 %}{{ subscription.notification_count }}{% else %}Unlimited{% endif %}</p></div>
      <div class="vl"><h5>Notices Remaining</h5> {% if subscription.notification_count != -1 %}{{ subscription.notification_count }}{% else %}Unlimited{% endif %}</div>
      <div class="vl"><h5>API Keys Remaining</h5> <p>{% if subscription.api_key_count != -1 %}{{ subscription.api_key_count }}{% else %}Unlimited{% endif %}</p></div>
    </div>
    <div class="flex-this space-between">
      <div><h4 class="mb-0">Edit Subscription</h4></div>
    </div>
    <p class="mt-0"><small>Manage and edit your subscription plan</small></p>
    {% include 'partials/_alerts.html' %}
    <div class="flex-this">
      <div>
          <button type="submit" class="primary-btn action-btn" name="generatebtn" onclick="openAddModalView()">Add a bundle<i class="fa-solid fa-plus"></i></button>
      </div>   
      <div class="ml-2p">
        <button type="submit" class="primary-btn action-btn" name="generatebtn">Edit Subscription<i class="fa-solid fa-pen-line"></i></button>
      </div>        
      <div class="ml-2p">
        <button type="submit" class="primary-btn white-btn" name="generatebtn">Cancel Subscription</button>
      </div>                
    </div>
    <p>Need help? Please contact us at  <a href="mailto:support@localcontexts.org" class="default-a">support@localcontexts.org</a></p>
  {% endif %}



<!-- Bundle Model -->

<div id="bundleModal" class="modal hide">
  <span id="bundleModalContent">
    <div class="modal-defaults bundle-modal flex-this column w-100">
      <div class="flex-this space-between">
        <div>
          <h2 class="mt-0">Add a Bundle</h2>
            <p class="mb-2p">
              Upgrade your subscription to unlock additional features. Choose from the available bundles below and submit your request to enhance your experience.
            </p>
        </div>
        <div id='close-model-button' onClick="closeBundleModal()">
            <div class="close-modal-btn"><i class="fa-regular fa-xmark fa-xl"></i></div>
        </div>
    </div>

    <div class="w-100 flex-this column">
      <form method="POST" action="{% if institution %}{% url 'subscription' institution.id 'institution' %}{% else %}{% url 'subscription' researcher.id 'researcher' %}{% endif %}">
        {% csrf_token %}
        <div id="labelsContainer">
            {% for key, bundle in form.bundle_details.items %}
            <div class="flex-this flex-start">
                <input class="mr-10" type="checkbox" id="label_{{ key }}" name="bundle_type" value="{{ key }}">
                <div class="flex-this column ml-16 mt-2p">
                    <label class="bold" for="label_{{ key }}">{{ bundle.label }}</label>
                    <p class="mt-0">{{ bundle.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    
        <button type="submit" class="primary-btn action-btn w-100 mb-2p">Submit request</button>
        <button class="primary-btn white-btn w-100 darkteal-text" onClick="closeBundleModal()">Cancel</button>
    </form>
    </div>

  </div>
  </span>
</div>

{% endblock %}