{% load static %}{% load custom_project_tags %}
<div class="dashcard" {% if '/view/' in request.path %}style="width: inherit;"{% endif %}>
    <div class="flex-this">

        <!-- Account Image -->
        <div class="dashcard-img-container">
            <img loading="lazy"
                class="profile-img"
                src="{% if community.image %} {{ community.image.url }} {% else %} {% static 'images/placeholders/community-place.jpg' %}{% endif %}"
                alt="{{ community.community_name }} image"
            >
        </div>

        <!-- Account Information -->
        <div class="flex-this column w-50">
            <div class="subscribed-icon-wrapper">
                <h3 class="dashcard-h3 darkteal-text">{{ community.community_name }}</h3>
                {% if community.is_member %}
                    <i class="fa-sharp fa-solid fa-circle-check subscribed-icon fa-lg" title="Member"></i>
                {% endif %}
            </div>
            <div>
                <p class="dashcard-subheader">
                    Community | Members: {% if community.get_member_count < 10 %}0{{ community.get_member_count }}{% else %}{{ community.get_member_count }}{% endif %}
                    {% with community.get_location as location %}{% if location %} | Location: {{ location }}{% endif %}{% endwith %}
                </p>
            </div>
            <div>
                <p class="dashcard-description description-sm">
                    {% if community.description %}{{ community.description }}{% else %}No description provided.{% endif %}
                </p>
            </div>
        </div>

        <!-- Buttons -->
        <div class="dashcard-btn-container ml-auto gap-half">
            {% if '/registry/' in request.path or '/connections/' in request.path or '/service-providers/view/' in request.path %}
                <!-- View Public Page -->
                <div>
                    <a
                        class="primary-btn action-btn"
                        href="{% url 'public-community' community.id %}"
                    >
                        View public page
                    </a>
                </div>
            {% endif %}

            {% if '/dashboard/' in request.path %}
                <!-- View Account -->
                <div>
                    {% if approved_label %}
                        {% if request.user in community.get_collaborator or request.user == community.community_creator %}
                            <a
                                class="primary-btn action-btn"
                                href="{% url 'community-projects' community.id %}"
                            >
                                View account
                            </a>
                        {% endif %}
                    {% else %}
                        <a
                            class="primary-btn action-btn"
                            href="{% url 'select-label' community.id %}"
                        >
                            View account
                        </a>
                    {% endif %}
                </div>

                <!-- Notification -->
                {% include 'snippets/notifications.html' with scope=community %}

                {% if request.user == community.community_creator or request.user in community.get_admins %}
                    <!-- Settings -->
                    <div>
                        <a
                            href="{% url 'update-community' community.id %}"
                            class="round-btn-small darkteal-text primary-btn white-btn"
                        >
                            <i class="m-0 fa fa-cog" aria-hidden="true"></i>
                        </a>
                    </div>
                {% endif %}
            {% endif %}

            {% if '/connections/' in request.path %}
                <div class="ml-8">
                    {% if service_provider%}
                        <!-- Disconnect Button -->
                        <button
                            name="disconnectAccountbtn"
                            data-name="{{ connected_community.community_name }}"
                            data-id="{{ connected_community.id }}_c"
                            class="primary-btn disconnect-btn"
                        >
                            Disconnect <i class="fa-solid fa-link-simple-slash"></i>
                        </button>
                    {% elif not service_provider %}
                        <!-- Show More Button -->
                        <span
                            id="{{ connected_community.community_name }}"
                            class="primary-btn white-btn"
                            onclick="showMore(this)"
                        >
                            Show More <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    {% if '/connections/' in request.path %}
        {% if not service_provider %}
            <!-- Expanded Info -->
            <div id="expand-div-{{ connected_community.community_name }}" class="hide">
                <div class="border-bottom-dash-teal">
                    <p class="mb-0">
                        <span class="bold">Account Contact Name</span> | {% firstof connected_community.community_creator.get_full_name connected_community.community_creator.get_full_name %}
                        <span class="bold ml-8">Account Contact Email</span> | {{ connected_community.community_creator.email }}<br><br>
                    </p>
                </div>

                <div>
                    <h3> Projects</h3>
                    {% connections_collaborative_projects account community as projects %}
                    <table class="projects-table">
                        <tr>
                            <th><i class="fa-regular fa-line-columns"></i> Title</th>
                            <th><i class="fa-light fa-user"></i> Creator</th>
                            <th><i class="fa-light fa-calendar"></i> Last updated</th>
                            <th>Visibility</th>
                        </tr>

                        {% for project in projects %}
                            {% include 'projects/project-overview.html' %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>