{% load static %}
<div class="dashcard">
  <div class="flex-this space-between">
    <div class="flex-this">
      <div class="researcher-img-container">
        <img
          loading="lazy"
          class="profile-img"
          src=" {% if researcher.image %} {{ researcher.image.url }} {% else %} {% static 'images/placeholders/researcher-place.jpg' %} {% endif %}"
          alt="{{ researcher.researcher_name }} image"
        />
      </div>
      <div class="flex-this column dashcard-text-container">
        <div>
          <h3 class="dashcard-h3 darkteal-text">
            {% firstof researcher.user.get_full_name researcher.user.username %}
          </h3>
        </div>
        <div>
          <p class="dashcard-subheader">
            Researcher | Location: {{ researcher.user.user_profile.get_location }}
          </p>
        </div>
        <div>
          <p class="dashcard-description description-sm">
            {% if researcher.description %}{{ researcher.description }} {% else %}
            No description provided. {% endif %}
          </p>
        </div>
      </div>
    </div>

    <div class="dashcard-btn-container">

      <div class="flex-this gap-half">
        {% if '/registry/' in request.path %}
            <div>
                <div class="mb-16">
                    <a 
                        class="primary-btn action-btn"
                        href="{% url 'public-researcher' researcher.id %}"                    
                    >View public page</a>                        
                </div>
                {% if researcher.otc_researcher_url.all %}
                    <div class="flex-this flex-end">
                        <img class="pointer-event-none" src="{% static 'images/notices/ci-open-to-collaborate.png' %}" width="60px" alt="Open to Collaborate Notice icon. Black square with the top right corner folded and two white hands reaching toward each other from top to bottom over a white horizontal rectangle.">
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if '/dashboard/' in request.path %} 
          <div class="flex-this gap-half">
              <div>
                <a
                  class="primary-btn action-btn"
                  href="{% if researcher.get_projects %}{% url 'researcher-projects' researcher.id %}{% else %}{% url 'researcher-notices' researcher.id %}{% endif %}"
                  >View account</a
                >
              </div>

              <div class="ml-8 flex-this gap-half">
                <!-- Notification -->
                {% include 'snippets/notifications.html' with scope=researcher.id %}
                <!-- Settings -->
                <div>
                  <a
                    href="{% url 'update-researcher' researcher.id %}"
                    class="round-btn-small darkteal-text primary-btn white-btn"
                  >
                    <i class="m-0 fa fa-cog" aria-hidden="true"></i>
                  </a>
                </div>          
              </div>
          </div>
        {% endif %}

        
      </div>

    </div>

  </div>
</div>
