{% load static %}{% load custom_project_tags %}

{{ formset.management_form }}
<div class="flex-this column">

    {% for f in formset %}
    {{ f.id }}

        {% for hidden in f.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% if not f.instance.pk %}
            <div class="flex-this">
                <div id="person-form-0" class="flex-this row margin-right-16 mb-8">
                    <div class="mr-1p">
                        <label>{{ f.name.label }}</label>
                        <div class="tooltip"><strong>?</strong>
                            <span class="tooltiptext">
                                Add contributors who are not yet registered in the Hub.
                            </span>
                        </div>
                        <br>
                        {{ f.name }}
                    </div>
                    
                    <div class="margin-right-16">
                        <label>{{ f.email.label }}</label><br>
                        {{ f.email }}
                    </div>
                    <div class="clone-form-btn add-square-btn pointer" style="margin-top:24px;">
                        <span>+</span>
                    </div>
                </div>
            </div>
            
            <div id="clonedItems"></div>
        {% endif %}

    {% endfor %}

    {% for error in formset.errors %}
        {% if error %}
            <div class="msg-red w-50"><small>{{ error.as_text }}</small></div> 
        {% endif %}
    {% endfor %}
</div>