{% load static %}
{% if messages %}
    {% for message in messages %}
        <div id="alert-message">
            <div class="{{ message.tags }} flex-this">
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <script>
                        toastr["error"]("{{ message }}")
                    </script>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <script>
                        toastr["info"]("{{ message }}")
                    </script>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <script>
                        toastr["success"]("{{ message }}")
                    </script>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}