{% load static %}
<style xmlns="http://www.w3.org/1999/html">
    .border-hr{
        border: 1px solid #DDDDDD;
    }
    #preview-boundary-container{
        display: flex;
        justify-content: space-between;
    }
    #boundary-container-right{
        display: flex;
        flex-direction: row;
    }
    .center-boundary-container-item-vertically{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #remove-boundary{
        font-weight: bold;
        color: #007385;
        cursor: pointer;
        margin-right: 30px;
    }
    #preview-container-wrapper.hidden-element{
        display: none;
    }

    #community-boundary-update{
        margin-top: 20px;
    }
    .name_of_boundary {
        field-sizing: content;
        padding: 12px;
        font-weight: bold;
        font-size: 16px;
        max-height: 40px;
        min-height: 40px;
        background-color: #fff;
        border: 1px solid #1f293700;
        border-radius: 4px;
        max-width: 560px;
    }

    #edit_name_icon {
        margin-left: 10px;
        margin-top: 11px;
    }
    #edit_name_icon.disabled {
        color: grey;
    }
</style>

<script>
    async function resetBoundary(){
        // do post call to reset boundary in request
        const response = await fetch("{% url 'reset-community_boundary' community.id %}", {
            method: 'POST',
            headers: {
              'X-CSRFToken': '{{csrf_token}}'
            }
        })
        if (response.status !== 204) {
            alert('Error Resetting Boundary')
        }
        document.querySelector('#preview-container-wrapper').classList.add('hidden-element')
    }

    function shapeFileChange(self) {
      // set the input element sent to backend when saved
      document.querySelector('.selected-title').value = self.value

      enableContinueButton()
    }

    function enableNameInput(self) {
      self.classList.add('disabled')
      document.querySelector('.name_of_boundary').disabled = false
    }
    function disableNameInput(self) {
      self.disabled = true
      document.querySelector('#edit_name_icon').classList.remove('disabled')
    }
</script>
<div class="flex-this space-between">
    <div><h2 class="mt-0">Community Boundary</h2></div>
</div>
<div>
    Add your community boundary by searching the Native Land Digital database or uploading a shapefile.
    <a href="https://localcontexts.org/support/getting-started-on-the-hub/#community-boundary"
       class="default-a" target="_blank" rel="noopener">
        Learn more about this feature on our website.
        <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i>
    </a><br><br>
</div>
<hr class="border-hr">

{% if community.name_of_boundary %}
    <div id="preview-container-wrapper">
        <div id="preview-boundary-container">

            <div class="center-boundary-container-item-vertically" style="width: calc(100% - 300px);">
                <div style="display: flex">
                    <input disabled class='name_of_boundary' value="{{ community.name_of_boundary }}"
                           onchange="shapeFileChange(this)"
                           onblur="disableNameInput(this)"
                    >
                    {% if 'native-land.ca' not in community.source_of_boundary %}
                        <i id="edit_name_icon" class="fa-solid fa-edit sm pointer"
                            onclick="enableNameInput(this)"
                        ></i>
                    {% endif %}
                </div>
            </div>

            <div id="boundary-container-right">
                <div id="remove-boundary" class="center-boundary-container-item-vertically"
                     onclick="resetBoundary(); event.preventDefault()">
                    Remove
                </div>
                <div class="center-boundary-container-item-vertically">
                <a class="primary-btn green-btn mt-2p"
                   href="{% url 'community-boundary-view' community.id %}"
                   target="_blank">
                    View Location
                    <i class="fa fa-arrow-up-right-from-square"></i>
                </a>
                </div>
            </div>

        </div>
    </div>
{% endif %}

<div id="community-boundary-update" class="w-80">
    {% include 'communities/update-boundary-via-native-land-and-shapefile.html' %}
</div>

<br>
<a href="https://forms.gle/vWFuUDumo7uXYMfj8"
   class="default-a" target="_blank" rel="noopener">
    We are interested in your feedback about this new feature.
    <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i>
</a>