{% load static %}
<style>
    .border-hr{
        border: 1px solid #DDDDDD;
    }
    #preview-boundary-container{
        display: flex;
        justify-content: space-between;
    }
    .center-boundary-container-item-vertically{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
<div class="flex-this space-between">
    <div><h3 class="no-top-margin">Account Boundaries</h3></div>
</div>
<div>Edit and manage your community boundaries.</div>
<hr class="border-hr">

{% if community.boundary %}
    <div id="preview-boundary-container">
        <strong class="center-boundary-container-item-vertically">
            {{ community.name_of_boundary }} (territories)
        </strong>

        <div class="center-boundary-container-item-vertically">
            <a class="primary-btn green-btn margin-top-2"
               href="{% url 'community-boundary-view' community.id %}"
               target="_blank">
                View Location
                <i class="fa fa-arrow-up-right-from-square"></i>
            </a>
        </div>

    </div>
    <hr class="border-hr">
{% endif %}