{% load static %}
<!-- import ORCiD Widget -->
<script src="{% static 'javascript/orcid-widget.js' %}" type="text/javascript" defer></script>

<div class="content-card content-card-space white-bg flex-this column">
    <h2 class="mt-0">Account Settings</h2>

    <div class="flex-this w-100">

        <div class="side-nav-container">
            <a href="{% if community %}{% url 'update-community' community.id %}{% endif %}{% if institution %}{% url 'update-institution' institution.id %}{% endif %}{% if researcher %}{% url 'update-researcher' researcher.id %}{% endif %}">
                <div class="flex-this side-nav-item {% if '/communities/update/' in request.path %} selected {% else %} grey-text {% endif %}">
                    <div class="w-20 margin-left-8 margin-top-8"><i class="fa-solid fa-circle-user fa-3x"></i></div>
                    <div class="w-80">
                        <p class="mt-0">
                            {% if community %}
                                <strong>Community Account</strong><br>Image, description, location
                            {% endif %}
                            {% if institution %}
                                <strong>Institution Account</strong><br>Image, description, location
                            {% endif %}
                            {% if researcher %}
                                <strong>Researcher Account</strong><br>Contact email, primary institution, description
                            {% endif %}
                        </p>
                    </div>
                </div>
            </a>
        {% if community %}
            <a href="{% if community %}{% url 'update-community-boundary' community.id %}{% endif %}">
                <div class="flex-this side-nav-item {% if '/communities/update-community-boundary/' in request.path %} selected {% else %} grey-text {% endif %}">
                    <div class="w-20 margin-left-8 margin-top-8"><i class="fa-solid fa-location-dot fa-3x"></i></div>
                    <div class="w-80">
                        <p class="mt-1p">
                            <strong>Community Boundary</strong><br>Edit and Manage
                        </p>
                    </div>
                </div>
            </a>
        {% endif %}
        </div>

        <div class="flex-this column w-80">

            {% if main_area == 'boundary' %}
                <div class="w-98 margin-left-16">
                    {% include 'partials/_update-boundary-main-area.html' %}
                </div>
            {% else %}
                <div class="w-70 margin-left-16">
                {% include 'partials/_update-account-main-area.html' %}
                </div>
            {% endif %}
        </div>

    </div>

</div>