{% extends 'settings-base.html' %} {% load static %}

{% block settings %}
<div class="flex-this column w-50   mr-1p">
    <div><h3>Change Password</h3></div>

    <div>
        <form method="POST" action="">
            {% csrf_token %}

                {{ form.as_p }}

                {% if form.errors %}
                    <small class="red-text"> {{ form.errors }}</small>
                {% endif %}

                {% include 'partials/_alerts.html' %}

            <div class="mb-16">
                <button class="primary-btn action-btn mt-2p  default-btn-width">Save</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}