{% extends 'auth-base.html' %} {% block title %} Home {% endblock %}{% load static %} {% block main %}

    {% include 'partials/infocards/_user-dashcard.html' with scope=user %}

    <div class="flex-this justify-center">{% include 'partials/_alerts.html' %}</div>
    
    <input 
        id="openOnboarding"
        type="hidden"
        {% if profile.onboarding_on %}
            value="true"
        {% else %}
        value="false"
        {% endif %}
    >

    {% include 'snippets/modals/onboarding.html' %}

    <section class="flex-this column">

        {% if not researcher and not user_communities and not user_institutions and not user_service_providers %}
            <div class="dashcard w-100 center-text mt-16" style="margin-bottom:200px;">
                <p class="center-text">
                    <strong>There are no accounts yet.</strong>
                    <br>
                    <small>
                        Click the link above to create an account or browse the registry to join an existing account.
                    </small>
                </p>
            </div>
        {% endif %}

        {% if researcher %}
            {% include 'partials/infocards/_researcher-card.html' %}
        {% endif %}

        {% if user_communities %}
            {% for community in user_communities %}
                {% include 'partials/infocards/_community-card.html' with approved_label=community.approved_label %}
            {% endfor %}
        {% endif %}

        {% if user_institutions %}
            {% for institution in user_institutions %}
                {% include 'partials/infocards/_institution-card.html' with institution_projects=institution.institution_projects %}
            {% endfor %}
        {% endif %}

        {% if user_service_providers %}
            {% for service_provider in user_service_providers %}
                {% include 'partials/infocards/_service-provider-card.html' %}
            {% endfor %}
        {% endif %}

    </section>
{% endblock %}