{% extends 'settings-base.html' %}{% load static %}

{% block settings %}
<form id="deactivateUserForm" method="POST">

    <div class="flex-this column w-80   mr-1p">
        <div><h3>Deactivate Your Profile</h3></div>

        <div class="w-70 mb-2p">
            <p class="no-top-margin">
                {% if user_role == 'is_creator' %}
                    It looks like you are the main administrator of an account.
                    Please email us at
                    <a href="mailto:support@localcontexts.org" class="default-a">support@localcontexts.org</a>
                    for deactivation assistance.
                {% elif user_role == 'is_member' %}
                    It looks like you are a member of an account.
                    When you deactivate your profile, you will be removed from all accounts and unable to log in.
                    Your profile and its associated data will be deleted 30 days after deactivation.
                {% else %}
                    You will not be able to log in after you deactivate your profile.
                    Your profile and its associated data will be deleted 30 days after deactivation.
                {% endif %}
            </p>

            {% if researcher %}
                <div class="flex-this space-between border-top-bottom-grey w-100 align-center">
                    <div class="w-70"><h3>{{ users_name }} | Researcher</h3></div>
                    <small class="block">You're the creator of this account</small>
                </div>
            {% endif %}

            {% for community in affiliations.communities.all %}
                <div class="flex-this space-between border-top-bottom-grey w-100 align-center">
                    <div class="w-70"><h3>{{ community.community_name }} | Community</h3></div>
                    <small class="block">
                        {% if profile.user.id == community.community_creator.id %}
                            You're the creator of this account
                        {% else %}
                            You will be removed from this account
                        {% endif %}
                    </small>
                </div>
            {% endfor %}

            {% for institution in affiliations.institutions.all %}
                <div class="flex-this space-between border-top-bottom-grey w-100 align-center">
                    <div class="w-70"><h3>{{ institution.institution_name }} | Institution</h3></div>
                    <small class="block">
                        {% if profile.user.id == community.community_creator.id %}
                            You're the creator of this account
                        {% else %}
                            You will be removed from this accounts
                        {% endif %}
                    </small>
                </div>
            {% endfor %}

            <br>
            {% csrf_token %}
            <button id="submitDeactivation" class="primary-btn white-btn
                {% if user_role != 'default' %}disabled-btn pointer-event-none{% endif %}">
                Deactivate Profile
            </button>
        </div>
    </div>

    <div id="deactivationModal" class="modal hide">

        <div class="modal-defaults deactivate-modal flex-this column w-100">
            <div class="w-100">
    
                <div>
                    <h2 class="primary-black-text mt-0">Are you sure?</h2>  
                    <p>Are you sure you want to deactivate your profile? <br><br>
                        This cannot be undone and you will be automatically logged out. <br></p>  
                </div>
                <div class="flex-this w-100 text-align-center">
                    <div id="continueDeactivationBtn" class="primary-btn white-btn mr-1p">Yes, deactivate my profile</div>    
                    <div id="closeDeactivationModal" class="ml-1p primary-btn action-btn">Cancel</div>
                </div>
    
            </div>
        </div>
    </div>
</form>

{% endblock %}