{% extends 'register-base.html' %} {% load static %} {% block title %} Login {% endblock %}

{% load socialaccount %}
{% block card %}
    <div class="flex-this space-between mb-8 w-90">
        <div>
            <h2 class="mb-2p">Welcome back!</h2>
        </div>
        <div><p>Not signed up yet? <a href="{% url 'register' %}" class="default-a">Register</a></p></div>
    </div>

    <div class="form-container flex-this column w-90">

        <form action="{% url 'login' %}" method="POST" class="flex-this column w-100" autocomplete="off">
            {% csrf_token %}
            <div>
                <label>Username</label>
                <div class="tooltip mt-15 ml-5"><strong>i</strong>
                    <span class="tooltiptext">Log-in with the username you created during the registration process, not your email</span>
                </div>
                <input type="username" name="username" required>
            </div>
            <div class="pad-top-1-5">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>
            <div>
                <a href="{% url 'reset_password'%}" class="default-a">Forgot your password?</a>
            </div> 
            <div class="flex-this column mt-2p">
                <div class="w-100"> 

                    <div class="flex-this justify-center"> <button class="primary-btn action-btn mt-2p w-100 signin-btn">Sign in</button></div>
                </div>
                <div class="flex-this justify-center align-center gap-1">
                    <div class="horizental-line"> </div>
                <p>or</p>
                <div class="horizental-line"> </div>
                </div>
                <div class="flex-this">
                    <a class="w-100 white-btn flex-this align-center justify-center" href="{% provider_login_url 'google' %}"><img class="mr-1p" src="{% static 'images/logos/google.png' %}" alt=""><span class="ml-1p primary-black-text">Sign in With Google</span></a>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
        </form>

        <!-- Alerts -->
        {% include 'partials/_alerts.html' %}
        {% if not envi == "SANDBOX" %}
            <div class="flex-this column w-100 test-hub-div">
                <div>
                    <p class="mt-0">Interested in exploring the Local Contexts hub before registering? Explore our sandbox website where you can play around our tools.</p>
                </div>
                <div>
                    <a class="primary-btn green-btn block" href="https://sandbox.localcontextshub.org" target="_blank" rel="noopener">Explore Sandbox</a></div>
            </div>
        {% endif %}
    </div>
{% endblock %}
