{% extends 'auth-base.html' %} {% block title %} Registry {% endblock %}{% load static %} {% load custom_acct_tags %}{% block main %}

<section class="flex-this column align-center">

    <div class="content-card-v2 content-card-space">

        <div class="w-80">
            <h2 class="mb-0">The Local Contexts Registry</h2>
            <p>
                This is the registry for accounts that are registered with the Local Contexts Hub. Visit an account's public page to contact or request to join, and to view public projects, Open to Collaborate Notices, and Labels in use.
            </p>
            <p>
                After you register on the Hub, you can request to join accounts for communities and institutions that you are already affiliated with. <strong>If you wish to collaborate with a community or institution you are not affiliated with, you will connect with them through Projects.</strong> You do not need to join their account.
            </p>
        </div>

        <hr class="searchbar-divider">

        <div class="flex-this align-center">
            <div class="w-70 mr-8">
                <form class="default-searchbar w-100" method="GET" action="">
                    <input type="search" name="q" placeholder="Search" autocomplete="off" style="width:90%;">
                    <button class="search-btn w-10"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="w-30">
                <div id="filterRegistry" class="dropdown-select w-100">
                    <div class="container">
                        <div class="h-100 flex-this align-center">
                            <i class="fa-regular fa-sliders mr-8"></i>
                            <p>Filter by:
                                {% if not filtertype %}
                                    All
                                {% elif filtertype == 'community-all' %}
                                    Community (All)
                                {% elif filtertype == 'community-members' %}
                                    Community (Members)
                                {% elif filtertype == 'institution-all' %}
                                    Institution (All)
                                {% elif filtertype == 'institution-subscribed' %}
                                    Institution (Subscribed)
                                {% elif filtertype == 'researcher-all' %}
                                    Researcher (All)
                                {% elif filtertype == 'researcher-subscribed' %}
                                    Researcher (Subscribed)
                                {% elif filtertype == 'service-provider-all' %}
                                    Service Provider (All)
                                {% elif filtertype == 'service-provider-certified' %}
                                    Service Provider (Certified)
                                {% elif filtertype == 'engagement-notice' %}
                                    Engagement Notice
                                {% endif %}
                            </p>
                            <i class="fa-solid fa-angle-down pointer ml-auto"></i>
                        </div>
                    </div>
                    <div class="options">
                        <div>
                            <input
                                id="all"
                                type="radio"
                                value="all"
                                name="filterType"
                                {% if filtertype == 'all' %}checked{% endif %}
                            >
                            <label for="all">All</label>
                        </div>
                        <div>
                            <input
                                id="community-all"
                                type="radio"
                                value="community-all"
                                name="filterType"
                                {% if filtertype == 'community-all' %}checked{% endif %}
                            >
                            <label for="community-all">Community (All)</label>
                        </div>
                        <div>
                            <input
                                id="community-members"
                                type="radio"
                                value="community-members"
                                name="filterType"
                                {% if filtertype == 'community-members' %}checked{% endif %}
                            >
                            <label for="community-members">Community (Members)</label>
                        </div>
                        <div>
                            <input
                                id="institution-all"
                                type="radio"
                                value="institution-all"
                                name="filterType"
                                {% if filtertype == 'institution-all' %}checked{% endif %}
                            >
                            <label for="institution-all">Institution (All)</label>
                        </div>
                        <div>
                            <input
                                id="institution-subscribed"
                                type="radio"
                                value="institution-subscribed"
                                name="filterType"
                                {% if filtertype == 'institution-subscribed' %}checked{% endif %}
                            >
                            <label for="institution-subscribed">Institution (Subscribed)</label>
                        </div>
                        <div>
                            <input
                                id="researcher-all"
                                type="radio"
                                value="researcher-all"
                                name="filterType"
                                {% if filtertype == 'researcher-all' %}checked{% endif %}
                            >
                            <label for="researcher-all">Researcher (All)</label>
                        </div>
                        <div>
                            <input
                                id="researcher-subscribed"
                                type="radio"
                                value="researcher-subscribed"
                                name="filterType"
                                {% if filtertype == 'researcher-subscribed' %}checked{% endif %}
                            >
                            <label for="researcher-subscribed">Researcher (Subscribed)</label>
                        </div>
                        <div>
                            <input
                                id="service-provider-all"
                                type="radio"
                                value="service-provider-all"
                                name="filterType"
                                {% if filtertype == 'service-provider-all' %}checked{% endif %}
                            >
                            <label for="service-provider-all">Service Provider (All)</label>
                        </div>
                        <div>
                            <input
                                id="service-provider-certified"
                                type="radio"
                                value="service-provider-certified"
                                name="filterType"
                                {% if filtertype == 'service-provider-certified' %}checked{% endif %}
                            >
                            <label for="service-provider-certified">Service Provider (Certified)</label>
                        </div>
                        <div>
                            <input
                                id="engagement-notice"
                                type="radio"
                                value="engagement-notice"
                                name="filterType"
                                {% if filtertype == 'engagement-notice' %}checked{% endif %}
                            >
                            <label for="engagement-notice">Engagement Notice</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'partials/_alerts.html' %}

    </div>

    {% for account in items %}
        {% if account in communities %}
            {% include 'partials/infocards/_community-card.html' with community=account %}
        {% elif account in institutions %}
            {% include 'partials/infocards/_institution-card.html' with institution=account %}
        {% elif account in researchers %}
            {% include 'partials/infocards/_researcher-card.html' with researcher=account %}
        {% elif account in service_providers %}
            {% include 'partials/infocards/_service-provider-card.html' with service_provider=account %}
        {% endif %}
    {% endfor %}

    {% if not items %}
        <div class="dashcard w-100 center-text mt-16 mb-16">
            <p class="bold">There are no public accounts by that name.</p>
        </div>
    {% endif %}

    {% include 'snippets/pagination.html' %}

</section>

<script>
    var selectList = document.getElementById('filterRegistry');
    if (selectList) {
        selectList.getElementsByClassName('container')[0].onclick = function(evt) {
            if (selectList.classList.contains('visible'))
            selectList.classList.remove('visible');
            else
            selectList.classList.add('visible');
        }
    }

    let radioItems = document.querySelectorAll('input[name="filterType"]')
    radioItems.forEach(function(radioItem) {
        radioItem.addEventListener('click', function() {
            link = '{% url "registry" %}' + radioItem.value;
            window.location.href = link.toString();
        })
    })
</script>

{% endblock %}