{% extends 'register-base.html' %} {% block title %} Select Account {% endblock %} {% load static %} {% block card %}

<div class="flex-this column">
    <div>
        <h2 class="mt-0">Choose an account</h2>
        <p>Local Contexts has three types of accounts. You can choose to join an existing account or create a new account. You can be a member of multiple accounts.</p>

        <div class="flex-this row space-between">

            <div class="account-card mr-1p">
                <div class="flex-this">
                    <p><strong>Community Account </strong></p>
                    <div class="tooltip mt-16 ml-8"><strong>i</strong>
                        <span class="tooltiptext">
                            A community entity might be an Indigenous or local community’s Cultural Department; Tribal and Historical Preservation Office; Community Center; Preservation Office; Community Library, Archive, or Museum; Land Council; or Indigenous Rangers.
                        </span>
                    </div>                    
                </div>
                <div><img loading="lazy" class="tiny-label pointer-event-none" src="{% static 'images/tk-labels/tk-attribution.png' %}" alt="TK Attribution Label icon. Black tag shape with two stacked white arrows, one pointing left and one pointing right."></div>
                <p><strong>Who?</strong> An Indigenous or local community entity or representative</p>
                <p class="mt-0"><strong>What?</strong> Customize and apply TK and BC Labels, and create Projects</p>
                <a href="{% url 'connect-community' %}" class="primary-btn white-btn-select">Join</a>
                <a href="{% url 'prep-community' %}" class="primary-btn white-btn-select">Create</a>
            </div>
            <div class="account-card ml-1p mr-1p">
                <div class="flex-this">
                    <div><p><strong>Institution Account</strong></p></div>
                    <div class="tooltip mt-16 ml-8"><strong>i</strong>
                        <span class="tooltiptext">An institution might be an archive, library, museum, historical society, gallery, data repository, university, or media production company. If you are an Indigenous institution, choose the community account.</span>
                    </div>
                </div>
                <div class="flex-this">
                    <div class="mr-1p"><img loading="lazy" 
                    class="tiny-notice pointer-event-none" src="{% static 'images/notices/tk-notice.png' %}" alt="TK Notice icon. Black background with the top right corner folded and the letters “TK” in white in center."></div>
                    <div class="ml-16"><img loading="lazy" class="tiny-notice pointer-event-none" src="{% static 'images/notices/ci-open-to-collaborate.png' %}" alt="Open to Collaborate Notice icon. Black square with the top right corner folded and two white hands reaching toward each other from top to bottom over a white horizontal rectangle. "></div>
                </div>
                <p><strong>Who?</strong> Cultural or research institution, data repository, and other organizations</p>
                <p><strong>What?</strong> Create projects and generate Notices</p>
                <a href="{% url 'connect-institution' %}" class="primary-btn white-btn-select">Join</a>
                <a href="{% url 'prep-institution' %}" class="primary-btn white-btn-select">Create</a>
            </div>
            <div class="account-card ml-1p">
                <p><strong>Researcher Account</strong></p>
                <div class="flex-this">
                    <div class="mr-1p"><img loading="lazy" class="tiny-notice pointer-event-none" src="{% static 'images/notices/tk-notice.png' %}" alt="TK Notice icon. Black background with the top right corner folded and the letters “TK” in white in center."></div>
                    <div class="ml-16"><img loading="lazy" class="tiny-notice pointer-event-none" src="{% static 'images/notices/bc-notice.png' %}" alt="BC Notice icon. Black background with the top right corner folded and the letters “BC” in white in center."></div>
                </div>
                <p><strong>Who?</strong> An individual who carries out academic or scientific research independently or in an institution </p>
                <p><strong>What?</strong> Create projects and generate Notices</p>
                <a href="{% url 'prep-researcher' %}" class="primary-btn white-btn-select">Create</a>
            </div>

        </div>
    </div>
    <div class="mt-16">
        <p>
            If you received an invitation to join an account, go straight to your <a href="{% url 'dashboard' %}" class="default-a">Profile</a>
        </p>
    </div>
</div>
{% endblock %}