{% extends 'register-base.html' %} {% block title %} Add Community {% endblock %} {% load static %} {% block card %} {% load custom_api_tags %}
    <style>
        #define-community-top-text{
            width: 94%;
        }

        #define-community-body{
            position: relative;
            height: 80%;
        }
        #navigate-to-option{
            position: absolute;
            top: 0px;
            right: 0px;
            font-weight: bold;
        }

        #region-container{
            margin-top: 20px;
        }
        #region-results-wrapper{
            position: relative;
        }
        #region-results{
            max-height: 150px;
            overflow-y: scroll;
            position: absolute;
            width: 100%;
            border: solid 1px #d9d1d1;
            border-radius: 2px;
            border-top: transparent;
            z-index: 1;
        }
        .result-item{
            padding-top: 5px;
            padding-left: 20px;
            padding-bottom: 5px;
            background: white;
            transition: 0.3s;
            cursor: pointer;
            user-select: none;
        }
        .result-item:hover {
            background: #d7e7e4;
        }
        #selected-title{
            padding: 12px;
            border: 3px solid #007385;
            background: aliceblue;
            border-radius: 5px;
            user-select: none;
        }
        #share-boundary-publicly-wrapper{
            padding-top: 12px;

        }
        #can-change-in-settings-indication{
            font-style: italic;
        }
        #share-boundary-publicly-wrapper input{
            transform: scale(2);
        }
        .selected-title-ellipsis{
            width: 430px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        #selected-title-wrapper{
            position: relative;
        }
        #nld-link{
            right: 8px;
            position: absolute;
            top: 14px;
            font-weight: bold;
            color: #007385;
            cursor: pointer;
        }

        #community-boundary-search {
            position: relative;
        }

        #community-boundary-search input{
            width: 100%;
            padding: 20px;
        }

        #community-boundary-search i{
            position: absolute;
            right: 10px;
            top: 14px;
        }

        #buttonRow{
            margin-top: 20px
        }

        a.disabled-btn{
            pointer-events: none;
            user-select: none;
        }

        #skip-this-step{
            margin-left: 20px;
        }

        .hidden{
            visibility: hidden;
        }
    </style>
    <div class="w-90" id="define-community-body">
        <h2 class="mt-0">Search the Native Land Digital database</h2>
        <p id="define-community-top-text">
            Search the Native Land Digital database to select your community’s boundary.
            After making a selection, view the location on Native Land Digital’s website to confirm
            the selected boundary is appropriate. If your boundary is not appropriate,
            please contact <a class="default-a" href="https://native-land.ca/contact/" target="_blank">Native Land Digital</a>.
        </p>
        <div id="navigate-to-option">
            Or <a class="default-a" href="{% url 'upload-boundary-file' %}">upload shapefile</a>
        </div>

        <div id="region-container">
            <label class="pad-top-1-5">Search the Native Land Digital database</label><br>
            <div id="community-boundary-search">
                <input class="input-field search" type="text"
                       placeholder="Search by address, town, or community name"
                >
                <i class="fa fa-search icon"></i>
            </div>
            <div id="region-results-wrapper">
                <div id="region-results"></div>
            </div>

            <div id="selected-location" class="hidden">
                <br>
                <strong>
                    <label class="pad-top-1-5">Selected location</label>
                </strong><br>

                <div id="selected-title-wrapper">
                    <div id="selected-title"></div>
                    <a id="nld-link" target="_blank">
                        View Location&nbsp;
                        <i class="fa fa-arrow-up-right-from-square"></i>
                    </a>
                </div>

                <div id="share-boundary-publicly-wrapper">
                    <input type="checkbox" id="share-boundary-publicly" name="share-boundary-publicly">
                    <label for="share-boundary-publicly">Share Boundary Publicly</label>
                </div>

                <p id="can-change-in-settings-indication">
                    Your boundary and its visibility can be updated or removed in your account's settings.
                </p>

            </div>

        </div>

    </div>

    <div class="flex-this w-90" id="buttonRow">

        <div class="w-90 flex-this flex-start">
            <div>
                <a
                    id="community-boundary-continue-btn"
                    class="primary-btn action-btn disabled-btn"
                    href="{% url 'dashboard' %}"
                    onclick="setboundary(); event.preventDefault()"
                >
                    Confirm location <i class="fa fa-arrow-right"></i>
                    <i class="fa fa-spinner fa-spin fa-2x spinner"></i>
                </a>
            </div>
            <div class="mr-8" id="skip-this-step">
                <a class="primary-btn white-btn" href="{% url 'dashboard' %}">Skip this step <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <script>
        fetch('{% external_api "https://raw.githubusercontent.com/biocodellc/localcontexts_json/main/data/nativeland_slug_name_list.json" %}').
        then(resp => resp.json()).then(response => {

            document.querySelector('#region-container input.search').addEventListener("keyup", (event) => {
                let html = ''
                const textInput = event.target.value
                const inputLength = textInput.length
                if (inputLength >= 3) {
                    var results = response.filter(item => item.name.toLowerCase().indexOf(textInput.toLowerCase()) > -1);
                    results.forEach(result => {
                    html += `
                        <div class="result-item" data-slug="${result.slug}" data-title="${result.name}" onclick="selectSlug()">
                        ${result.name}</br />
                        </div>
                    `
                    })
                } else if (inputLength === 0){
                    html = ''
                }
                document.querySelector('#region-results').innerHTML = html
            })

        })

        const target = document.querySelector('#region-results')
        document.addEventListener('click', (event) => {
            const withinboundary = event.composedPath().includes(target)
            if (!withinboundary) {
                // click outside element
                hideSearchDropDown()
            }
        })

        function hideSearchDropDown() {
           document.querySelector('#region-results').innerHTML = ''
        }
        function showSelectedSlug() {
            document.querySelector('#selected-location').classList.remove('hidden')
        }
        function enableContinueButton(){
            document.querySelector('#community-boundary-continue-btn').classList.remove('disabled-btn')
        }

        function selectSlug() {
            const title = event.target.dataset.title
            const slug = event.target.dataset.slug
            const url = `https://native-land.ca/maps/territories/${slug}`
            document.querySelector('#nld-link').setAttribute('href', url)
            document.querySelector('#selected-title').innerHTML = `<div class="selected-title-ellipsis">${title}</div>`

            // set selected data for selection
            document.querySelector('#selected-title').setAttribute('data-slug', slug)

            hideSearchDropDown()
            showSelectedSlug()
            enableContinueButton()
        }

        async function setboundary() {
            try {
                document.getElementById("community-boundary-continue-btn").classList.add("disabled-btn");
                document.querySelector("#community-boundary-continue-btn .fa-spinner").classList.add("spinner-container");
                // do post call to get boundary
                const href = document.querySelector('#community-boundary-continue-btn').getAttribute('href')
                const slug = document.querySelector('#selected-title').getAttribute('data-slug')
              
                const url = `{% url 'nld-data' %}?slug=${slug}`
                const boundaryResponse = await fetch(url)
                const boundaryData = await boundaryResponse.json()
                document.querySelector("#community-boundary-continue-btn .fa-spinner").classList.remove("spinner-container");
                document.getElementById("community-boundary-continue-btn").classList.remove("disabled-btn");

                if (!boundaryData.coordinates[0].length) {
                    const errorMessage = 'Selected location does not have any Native Land boundary'
                    alert(errorMessage)
                    throw new Error(errorMessage)
                }
              
                const boundaryCoordinates = boundaryData.coordinates[0][0]
                // reorder so (lon, lat)'s become (lat, lon)'s
                boundaryCoordinates.map(row=>row.reverse())

                const payload = {
                    source: boundaryData.description,
                    name: slug,
                    boundary: boundaryCoordinates,
                    share_boundary_publicly: document.getElementById("share-boundary-publicly").checked
                }

                // do post call to set boundary in request
                const registrationResponse = await fetch("{% url 'registration-boundary' %}", {
                        method: 'POST',
                        body: JSON.stringify(payload),
                        headers: {
                          'X-CSRFToken': '{{csrf_token}}'
                        }
                    })

                if (registrationResponse.status !== 201) {
                    throw new Error('Error Setting boundary')
                }

                // relocate to the window href url
                window.location.href = href

            } catch (error) {
                console.error('Error Fetching boundary:', error)
            }
        }
    </script>
{% endblock %}