{% extends 'account-base.html' %} {% block title %} Approve Label {% endblock %}{% load static %} {% block community_content %}

    <form method="POST" action="">
        {% csrf_token %}

        <div class="content-card-v2 content-card-space">   
            <div class="w-80">
                <h2 class="mb-0 mt-0">Review for Approval</h2>
                <p>As an account Administrator or Editor, you can approve this customized Label so that it can be used on Hub Projects. Labels can be edited in the future.</p>
            </div>
        </div>

        <div class="content-card-v2 content-card-space"> 
            <h2 class="mt-0">Label to Approve</h2>
            <div class="flex-this mt-8">
                <div class="w-10">
                    {% if bclabel %}
                        {% include 'bclabels/which-label.html' %}
                    {% endif %}
                    {% if tklabel %}
                        {% include 'tklabels/which-label.html' %}
                    {% endif %}
                </div>   
                <div class="w-90 mr-16">
                    <h2 class="mt-0">
                        {% if bclabel.name %}{{ bclabel.name }}{% endif %}
                        {% if tklabel.name %}{{ tklabel.name }}{% endif %}
                    </h2>

                    {% include 'partials/_label-content.html' %}

                </div>                
            </div>

        </div>

        <div class="content-card-v2 content-card-space">
            <h2 class="mt-0">Should this Label be approved?</h2>
            <p>If you would like to suggest revisions or further discussion, select "No" and share additional information in the text box that appears.</p>
            <div class="flex-this">
                <div class="mr-16">
                    <button class="primary-btn action-btn mt-2p" name="approve_label_yes">Yes, this Label is approved</button>
                </div>
                <div>
                    <a id="displayLabelNote" class="primary-btn white-btn mt-2p">No, this Label is not approved</a>
                </div>                        
            </div>

        </div>

        <div id="labelNoteDiv" class="content-card-v2 content-card-space hide">
            <div class="mt-8">
                <h2 class="mt-0">Submit your feedback</h2>
                <p>Please add a note to request changes or give reason for not approving this Label.</p>

                <div class="w-90">{{ form.note }}</div>
                <div class="flex-this">
                    <div class="mr-16">
                        <button class="primary-btn action-btn" name="create_label_note">Submit feedback</button>
                    </div>
                    <div>
                        <button id="closeNoteDiv" class="primary-btn white-btn">Cancel</button></div>
                    </div>                        
                </div>
            </div>            
        </div>
        
    </form>

{% endblock %}