{% extends 'register-base.html' %} {% block title %} Define Community {% endblock %} {% load static %} {% block card %}
    <style>
        #define-community-top-text{
            width: 90%;
        }

        #define-community-body{
            position: relative;
        }
        #navigate-to-option{
            position: absolute;
            top: 0px;
            right: 0px;
            font-weight: bold;
        }

        #buttonRow{
            margin-top: 20px
        }

        a.disabled-btn{
            pointer-events: none;
            user-select: none;
        }

        #skip-this-step{
            margin-left: 20px;
        }
    </style>
    <div class="w-90" id="define-community-body">
        <h2 class="no-top-margin">Define Community boundary</h2>
        <p id="define-community-top-text">
        {% if community or institution %}
            Search for your community boundary using the Native Land Digital database. We recommend
            viewing the map on their website before confirming your selection. If your community boundary
            is not accurate please don’t hesitate to get in contact with Native Land Digital.
        {% endif %}
        </p>
        <div id="navigate-to-option">
            Or <a href="{% url 'upload-boundary-file' %}">upload shape file</a>
        </div>
    </div>

    <div class="flex-this w-90" id="buttonRow">

        <div class="w-90 flex-this flex-start">
            <div>
                <a
                    id="community-boundary-continue-btn"
                    class="primary-btn action-btn disabled-btn"
                    {% if community %}
                        href="{% url 'create-community' %}"
                    {% endif %}
                    {% if institution %}
                        href="{% url 'create-institution' %}"
                    {% endif %}
                >
                    Confirm location <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="margin-right-8" id="skip-this-step">
                <a class="primary-btn white-btn" href="{% url 'dashboard' %}">Skip this step <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>

{% endblock %}