{% extends 'register-base.html' %} {% block title %} Add Community {% endblock %} {% load static %} {% block card %}
    <style>
        #define-community-top-text{
            width: 94%;
        }

        #define-community-body{
            position: relative;
            height: 100%;
        }
        #browse-files-btn{
            margin-left: 6px;
        }
        #navigate-to-option{
            position: absolute;
            top: 0px;
            right: 0px;
            font-weight: bold;
        }

        #browse-files-container{
            margin-top: 20px;
        }

        #community-boundary-upload {
            position: relative;
            display: flex;
        }

        #community-boundary-upload input{
            width: 60%;
            padding: 24px;
            padding-left: 10px;
            cursor: pointer;
        }

        #community-boundary-search i{
            position: absolute;
            right: 10px;
            top: 14px;
        }

        .feedback {
            display: flex;
            padding: 16px;
            border-radius: 8px;
            width: max-content;
            margin-top: 8px;
        }
        .feedback i{
            font-size: 24px;
            margin-right: 12px;
        }
        .failure {
            color: #B01212;
            background: #FBF3F3;
            border: #B0120B 1px solid;
        }
        .success {
            color: #166534;
            background: #F2F7F4;
            border: #166534 1px solid;
        }

        #buttonRow{
            margin-top: 20px
        }

        a.disabled-btn{
            pointer-events: none;
            user-select: none;
        }

        #skip-this-step{
            margin-left: 20px;
        }

        #selected-title-wrapper{
            position: relative;
        }
        #selected-title{
            padding: 12px;
            border: 3px solid #007385;
            background: aliceblue;
            border-radius: 5px;
            user-select: none;
        }
        #nld-link{
            right: 8px;
            position: absolute;
            top: 14px;
            font-weight: bold;
            color: #007385;
            cursor: pointer;
        }
        .hidden{
            visibility: hidden;
        }
        .invisible{
            display: none;
        }
    </style>
    <div class="w-90" id="define-community-body">
        <h2 class="no-top-margin">Add Community boundaries</h2>
        <p id="define-community-top-text">
            Add your community boundaries by uploading a shape file below. We accept file types like (.zip).
            You can create shape files on third-party websites like QGIS, LINK2, and LINK3.
        </p>
        <div id="navigate-to-option">
            Or <a class="darkteal-text underline-hover" href="{% url 'add-community-boundaries' %}">search NLD database</a>
        </div>

        <div id="browse-files-container">
            <label class="pad-top-1-5">Upload shape file (. zip)</label><br>
            <div id="community-boundary-upload">
                <input class="input-field" type="text"
                       id="select-file-input"
                       placeholder="Select file"
                       readonly
                       onclick="triggerShapeFileInput()"
                >
                <div
                    id="browse-files-btn"
                    class="primary-btn action-btn"
                    onclick="triggerShapeFileInput()"
                >
                    Browse files
                </div>
                <input
                    type="file" id="shapefile-input" name="shapefile" style="display: none"
                    onchange="uploadShapeFileData(this)"
                    accept=".zip"
                >
            </div>
        </div>

        <div id="selected-location" class="invisible">
            <br>
            <strong>
                <label class="pad-top-1-5">Selected Location</label>
            </strong><br>

            <div id="selected-title-wrapper">
                <div id="selected-title">Placeholder</div>
                <a id="nld-link"
                   href="{% url 'community-boundaries-view' community_id %}"
                   target="_blank">
                    View map in new tab
                    <i class="fa fa-arrow-up-right-from-square"></i>
                </a>
            </div>

        </div>

        <div class="feedback failure invisible">
            <i class="fa fa-circle-exclamation"></i>
            <div class="message">File not accepted. Please upload another file</div>
        </div>
        <div class="feedback success invisible">
            <i class="fa fa-circle-check"></i>
            <div class="message">File upload successfully</div>
        </div>
    </div>

    <div class="flex-this w-90" id="buttonRow">

        <div class="w-90 flex-this flex-start">
            <div>
                <a
                    id="community-boundary-continue-btn"
                    class="primary-btn action-btn disabled-btn"
                    href="{% url 'confirm-community' %}"
                >
                    Confirm location <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="margin-right-8" id="skip-this-step">
                <a class="primary-btn white-btn" href="{% url 'confirm-community' %}">Skip this step <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <script>
      function enableContinueButton(){
        document.querySelector('#community-boundary-continue-btn').classList.remove('disabled-btn')
      }
      function disableContinueButton(){
        document.querySelector('#community-boundary-continue-btn').classList.add('disabled-btn')
      }
      function triggerShapeFileInput() {
        document.getElementById('shapefile-input').click()
      }

      async function registerBoundary(boundaryName, boundaryCoordinates, removePrevious=true) {
        const payload = {
            source: 'shape-file',
            name: boundaryName,
            boundaries: [boundaryCoordinates],
            remove_previous: removePrevious
        }

        // do post call to set boundaries in request
        const registrationResponse = await fetch("{% url 'registration-boundaries' %}", {
                method: 'POST',
                body: JSON.stringify(payload),
                headers: {
                  'X-CSRFToken': '{{csrf_token}}'
                }
            })

        if (registrationResponse.status !== 201) {
            throw new Error('Error Setting Boundaries')
        }

      }

      async function uploadShapeFileData(self) {
        var files = event.target.files
        var file = files[0]
        const successMessage = document.querySelector('.feedback.success')
        const failureMessage = document.querySelector('.feedback.failure')

        // hide feedback messages
        successMessage.classList.add('invisible')
        failureMessage.classList.add('invisible')
        document.querySelector('#selected-location').classList.add('invisible')

        try {
        const shapeFileData = await file.arrayBuffer()
        const geoJsonData = await shp(shapeFileData)

        // merge geoJson to get unique contours
        const distinctGeoJsonFeatures = turf.union(...geoJsonData.features)

        // extract boundaries from each unique contour
        // there will be one boundary per contour
        const distinctBoundaries = [].concat(...distinctGeoJsonFeatures.geometry.coordinates).map(arr => arr)

        // for each distinct new boundary a boundary ui element is created
        // and populated with boundary data from shape file
        for(let i = 0; i < distinctBoundaries.length; i++) {
          const distinctBoundaryReordered = distinctBoundaries[i].map(function(coordinate){
              // reverse so code extracts (lat-lon)'s
              return [coordinate[1], coordinate[0]]
            }
          )

          // upload shape file to session for community
          await registerBoundary(geoJsonData.fileName, distinctBoundaryReordered, i === 0)
        }

        successMessage.classList.toggle('invisible')
        // show and label ui elements
        document.querySelector('#selected-title').innerText = geoJsonData.fileName
        document.querySelector('#selected-location').classList.remove('invisible')
        enableContinueButton()

      } catch (e) {
        failureMessage.classList.toggle('invisible')
        console.log('Error extracting boundary data from Shape File', e)
        disableContinueButton()
      }
        document.querySelector('#select-file-input').value = file.name
        // set value to null so user can resubmit
        // same file if needed
        self.value = null
        return false

        }
    </script>
<script src="{% static 'javascript/shpjs.js' %}"></script>
<script src="{% static 'javascript/turf.js' %}"></script>
{% endblock %}