{% extends 'account-base.html' %} {% block title %} View Label {% endblock %}{% load static %} {% load custom_tags %} {% block community_content %}

<section class="content-card-v2 content-card-space">


    <div class="flex-this space-between mb-16">
        <div>
            <small class="bold">
                <a class="darkteal-text"href="{% url 'select-label' community.id %}">Labels</a> 
                <span class="grey-text"> >> View Label</span>
            </small>
        </div>

        <div>
            {% if bclabel %}
                <!-- If label is approved -->
                {% if bclabel.is_approved %}
                    <!-- Any member but viewer can propose an edit -->
                    {% if not member_role == 'viewer' %}
                        <div>
                            <a class="primary-btn white-btn" href="{% url 'edit-label' community.id bclabel.unique_id %}">Propose an edit <i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </div>
                    {% endif %}
                {% else %}
                    <!-- If Label is waiting for approval and current user is creator -->
                    {% if bclabel.created_by == request.user %}
                        <!-- If no last editor or current user is the last editor -->
                        {% if not bclabel.last_edited_by or bclabel.last_edited_by == request.user %}
                            <div>
                                <a class="primary-btn white-btn" href="{% url 'edit-label' community.id bclabel.unique_id %}">Edit Label <i class="fa fa-pencil" aria-hidden="true"></i></a>
                            </div>
                        {% else %}
                            <!-- If creator is not last editor -->
                            {% can_user_approve_label request.user bclabel member_role as user_can_approve %}
                            {% if user_can_approve %}
                                <div class="mt-1p">
                                    <a class="primary-btn green-btn" href="{% url 'approve-label' community.id bclabel.unique_id %}">Review for approval</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                    <!-- If creator not current user -->
                        {% can_user_approve_label request.user bclabel member_role as user_can_approve %}
                        {% if user_can_approve %}
                            <div class="mt-1p">
                                <a class="primary-btn green-btn" href="{% url 'approve-label' community.id bclabel.unique_id %}">Review for approval</a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if tklabel %}
                <!-- If label is approved -->
                {% if tklabel.is_approved %}
                    <!-- Any member but viewer can propose an edit -->
                    {% if not member_role == 'viewer' %}
                        <div>
                            <a class="primary-btn white-btn" href="{% url 'edit-label' community.id tklabel.unique_id %}">Propose an edit <i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </div>
                    {% endif %}
                {% else %}
                    <!-- If Label is waiting for approval and current user is creator -->
                    {% if tklabel.created_by == request.user %}
                        <!-- If no last editor or current user is the last editor -->
                        {% if not tklabel.last_edited_by or tklabel.last_edited_by == request.user %}
                            <div>
                                <a class="primary-btn white-btn" href="{% url 'edit-label' community.id tklabel.unique_id %}">Edit Label <i class="fa fa-pencil" aria-hidden="true"></i></a>
                            </div>
                        {% else %}
                            <!-- If creator is not last editor -->
                            {% can_user_approve_label request.user tklabel member_role as user_can_approve %}
                            {% if user_can_approve %}
                                <div class="mt-1p">
                                    <a class="primary-btn green-btn" href="{% url 'approve-label' community.id tklabel.unique_id %}">Review for approval</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                    <!-- If creator not current user -->
                        {% can_user_approve_label request.user tklabel member_role as user_can_approve %}
                        {% if user_can_approve %}
                            <div class="mt-1p">
                                <a class="primary-btn green-btn" href="{% url 'approve-label' community.id tklabel.unique_id %}">Review for approval</a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}

        </div>                    
    </div>

    <div class="flex-this space-between border-bottom-solid-teal">
        
        <div class="w-10 center-text">
            {% if bclabel %}
                {% include 'bclabels/which-label.html' %}
            {% endif %}
            {% if tklabel %}
                {% include 'tklabels/which-label.html' %}
            {% endif %}
        </div>
        <div class="w-90">

            <div>
                <h2 class="mt-0">
                    {% if bclabel %} {{ bclabel.name }} {% endif %}
                    {% if tklabel %} {{ tklabel.name }} {% endif %}
                </h2>                    
            </div>

            <div class="w-90">
                <p class="mt-0 mb-0">
                    <span class="bold">Created by</span> - 
                    {% if bclabel %} {{ creator_name }} | {{ bclabel.community }} | {{ bclabel.created|date:'M Y'}} {% endif %}
                    {% if tklabel %} {{ creator_name }} | {{ tklabel.community }} | {{ tklabel.created|date:'M Y'}} {% endif %}
                    <br>

                    <div class="mt-8 mb-8">
                        <span class="bold">Approved by</span> - 
                        {% if bclabel %}   
                            {% if not bclabel.is_approved %} 
                                {% can_user_approve_label request.user bclabel member_role as user_can_approve %}
                                {% if user_can_approve %}
                                    <small class="green-tag">Ready for Review</small>
                                {% else %}
                                    <small class="orange-tag">Waiting Approval</small>
                                {% endif %}
                            {% else %} 
                                {{ approver_name }} 
                            {% endif %}
                        {% endif %}

                        {% if tklabel %} 
                            {% if not tklabel.is_approved %} 
                                {% can_user_approve_label request.user tklabel member_role as user_can_approve %}
                                {% if user_can_approve %}
                                    <small class="green-tag">Ready for Review</small>
                                {% else %}
                                    <small class="orange-tag">Waiting Approval</small>
                                {% endif %}
                            {% else %} 
                                {{ approver_name }} 
                            {% endif %}
                        {% endif %}                        
                    </div>

                    <div class="mb-8">
                        <span class="bold">Last edited by</span> - 
                        {% if bclabel %}   
                            {% if not bclabel.last_edited_by %} No edits have been made to this Label yet {% else %} {{ last_editor_name }} {% endif %}
                        {% endif %}
    
                        {% if tklabel %} 
                            {% if not tklabel.last_edited_by %} No edits have been made to this Label yet {% else %} {{ last_editor_name }} {% endif %}
                        {% endif %}
                    </div>

                    <div>
                        <span class="bold">Version - 
                            {% if bclabel %} {% if bclabel.version %} {{ bclabel.version }} {% else %} 1 {% endif %} {% endif %}
                            {% if tklabel %} {% if tklabel.version %} {{ tklabel.version }} {% else %} 1 {% endif %} {% endif %}
                        </span>
                    </div>
                </p>


                {% include 'partials/_label-content.html' %}

                <div class="mb-16">
                    <h3 class="mb-8">Related Projects</h3>
                    {% if projects %}
                        <ul>
                            {% for project in projects %}
                                <li><a class="darkteal-text underline-hover" href="{% url 'view-project' project.unique_id  %}">{{ project.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        This label has not yet been applied to any Local Contexts Projects
                    {% endif %}
                </div>

                {% if bclabel %}
                    {% if bclabel.bclabel_note.all %}
                        <div class="mb-16">
                            <h3 class="mb-8">Label Notes</h3>
                            {% for note in bclabel.bclabel_note.all %}
                                <p>
                                    <span class="bold">{% firstof note.sender.get_full_name note.sender.username %}</span>:
                                    {{ note.note }}
                                </p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}

                {% if tklabel %}
                    {% if tklabel.tklabel_note.all %}
                        <div class="mb-16">
                            <h3 class="mb-8">Label Notes</h3>
                            {% for note in tklabel.tklabel_note.all %}
                                <p>
                                    <span class="bold">{% firstof note.sender.get_full_name note.sender.username %}</span>:
                                    {{ note.note|linebreaks }}
                                </p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}

                {% if bclabel.version or tklabel.version %}
                    {% if bclabel.version > 1 or tklabel.version > 1 %}
                        <h3>Label Text Versions</h3>

                        {% if label_versions %}
                            {% for version in label_versions %}
                                {% if not version.version == bclabel.version or not version.version == tklabel.version %}

                                    <div class="notice-translation__container">
                                        <div class="flex-this space-between">
                                            <h3>
                                                Version 
                                                {% if version.version < 10 %}0{{ version.version }}{% else %}{{ version.version }}{% endif %}
                                            </h3>
                                            <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="label-version-{{version.version}}"></i></div>                        
                                        </div>
            
                                        <div id="label-version-{{version.version}}" class="hide">
                                            <span class="bold">Date created</span> - {{ version.created|date:'d M Y'}}
                                            <p>
                                                <span class="bold block mb-8">Label text</span>
                                                {{ version.version_text }} <br>

                                                {% if version.label_version_translation.all %}
                                                    {% for translated_version in version.label_version_translation.all %}
                                                        <span class="bold block mb-8 mt-16">{{ translated_version.language }}</span>
                                                        {{ translated_version.translated_text }}
                                                    {% endfor %}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>

                                {% endif %}
                            {% endfor %}
                        {% endif %}

                    {% endif %}
                {% endif %}
            </div>

        </div>
    </div>

    <div class="ml-16 {% if not bclabels and not tklabels %} hide {% endif %}">
        <h3>Explore your other customized Labels</h3>

        <div class="flex-this w-100 wrap">
            {% if bclabels %}
                {% for bclabel in bclabels %}
                    <div class="condensed-labels center-text mr-16 mb-16">
                        <a class="primary-black-text" href="{% url 'view-label' community.id bclabel.unique_id %}">
                            {% include 'bclabels/mini-labels.html' %}
                            <small class="bold">{{ bclabel.name }}</small>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}  

            {% if tklabels %}
                {% for tklabel in tklabels %}
                    <div class="condensed-labels center-text mr-16 mb-16">
                        <a class="primary-black-text" href="{% url 'view-label' community.id tklabel.unique_id %}">
                            {% include 'tklabels/mini-labels.html' %}
                            <small class="bold">{{ tklabel.name }}</small>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}          
        </div>

    </div>

</section>

{% endblock %}