{% load static %}
<style>
    .related-widget-wrapper{
        width: 100%
    }
    .boundary-container{
        display: flex;
        margin-bottom: 10px;
    }
    .boundary-textarea{
        width: 90%
    }
    .delete-boundary{
        margin-left: 20px;
        background: lightgrey;
        color: white;
        font-weight: bold;
        cursor: pointer;
        width: 140px;
        height: 90px;
    }
    .delete-boundary:hover{
        background: darkgrey;
    }
    .delete-boundary.selected, .delete-boundary.selected:hover{
        background: #a41515;
    }
    #add-new-boundary{
        padding: 10px;
        cursor: pointer;
        background: #9be1a9;
        border-radius: 5px;
    }
    #add-new-boundary:hover{
        background: #86c993;
    }
    #upload-shape-file-data{
        padding: 10px;
        cursor: pointer;
        background: lightblue;
        border-radius: 5px;
        margin-left: 20px;
    }
    #upload-shape-file-data:hover {
        background: #8ebccb;
    }
</style>
<div id="boundaries-container">
    {% for boundary_id, boundary in boundaries.items %}
        <div class="boundary-container">
            <label for="boundary{{boundary_id}}">Boundary Id {{ boundary_id }}</label>
            <textarea
                    class="boundary-textarea" name="current-boundary:{{boundary_id}}" rows="4"
                    cols="50">{{ boundary |join:", " }}</textarea>
            <button class="delete-boundary" data-for="{{boundary_id}}" onclick="markAsDeleted(); event.preventDefault()">
                Mark For Deletion
            </button>
        </div>
    {% endfor %}
</div>
<div id="deleted-boundaries" style="display:none"></div>
<button id="add-new-boundary" onclick="addNewBoundary(); event.preventDefault()">Add New Boundary</button>
<button type="file" id="upload-shape-file-data"
        onclick="triggerShapeFileInput(); event.preventDefault()"
>
    Upload Shape File Data
</button>
<input
        type="file" id="shapefile-input" name="shapefile" style="display: none"
        onchange="uploadShapeFileData(this); event.preventDefault()"
        accept=".zip"
>
<script>
var newBoundaryCount = 0

function triggerShapeFileInput() {
   document.getElementById('shapefile-input').click()
}
async function uploadShapeFileData(self) {
  var files = event.target.files;
  var file = files[0];

  try {
    const shapeFileData = await file.arrayBuffer()
    const geoJsonData = await shp(shapeFileData)

    // merge geoJson to get unique contours
    const distinctGeoJsonFeatures = turf.union(...geoJsonData.features)

    // extract boundaries from each unique contour
    // there will be one boundary per contour
    const distinctBoundaries = [].concat(...distinctGeoJsonFeatures.geometry.coordinates).map(arr => arr)

    // for each distinct new boundary a boundary ui element is created
    // and populated with boundary data from shape file
    for(let i = 0; i < distinctBoundaries.length; i++) {
      const distinctBoundaryStr = distinctBoundaries[i].map(function(coordinate){
        return `(${coordinate[0]}, ${coordinate[1]}) `}
      )
      addNewBoundary(distinctBoundaryStr)
    }

  } catch (e) {
    console.log('Error extracting boundary data from Shape File', e)
  }

  // set value to null so user can resubmit
  // same file if needed
  self.value = null
  return false
}
function markAsDeleted() {
  const id = event.target.dataset.for
  const selectorKey = `boundary${id}`
  const deletedBoundaryMarker = document.querySelector(`[data-deleted=${selectorKey}]`)

  // -----------toggle deletion marker
  event.target.classList.toggle("selected");

  if (deletedBoundaryMarker) {
    // if marked for deletion, then remove marker
    deletedBoundaryMarker.remove()
  } else {
    // otherwise, add marker for deletion
    const deletedBoundariesContainer = document.getElementById('deleted-boundaries')
    deletedBoundariesContainer.insertAdjacentHTML(
      'beforeend',
      `<input type="text" data-deleted="${selectorKey}" name="deleted-boundary:${id}">`
    )
  }
  // -----------toggle deletion marker

}

function removeBoundary(){
  newBoundaryCount--
  event.target.closest(".boundary-container").remove()
}
function addNewBoundary(data='') {
    newBoundaryCount++
    const boundaryContainer = document.getElementById('boundaries-container')
    boundaryContainer.insertAdjacentHTML(
      'beforeend',
      `<div class="boundary-container">
            <label>New Boundary</label>
            <textarea
                name="new-boundary:${newBoundaryCount}"
                class="boundary-textarea" rows="4"
                cols="50">${data}</textarea>
            <button class="delete-boundary" onclick="removeBoundary();event.preventDefault()">
                Remove
            </button>
        </div>`
    )
}
</script>
<script src="{% static 'javascript/shpjs.js' %}"></script>
<script src="{% static 'javascript/turf.js' %}"></script>
