{% load static %}
<style>
    .related-widget-wrapper{
        width: 100%
    }
    .boundary-container{
        display: flex;
        margin-bottom: 10px;
        width: 100%
    }
    .boundary-textarea{
        width: 90%
    }
    .delete-boundary{
        margin-left: 20px;
        background: lightgrey;
        color: white;
        font-weight: bold;
        cursor: pointer;
        width: 140px;
        height: 90px;
    }
    .delete-boundary:hover{
        background: darkgrey;
    }
    .delete-boundary.selected, .delete-boundary.selected:hover{
        background: #a41515;
    }
    #add-new-boundary{
        padding: 10px;
        cursor: pointer;
        background: #9be1a9;
        border-radius: 5px;
    }
    #add-new-boundary:hover{
        background: #86c993;
    }
    #upload-shape-file-data{
        padding: 10px;
        cursor: pointer;
        background: lightblue;
        border-radius: 5px;
        margin-left: 20px;
    }
    #upload-shape-file-data:hover {
        background: #8ebccb;
    }

    #view-saved-boundaries, .preview-boundary{
        font-weight: bold;
        display: inline;
        font-size: 14px;
    }
    #view-saved-boundaries {
        margin-left: 20px;
    }
    #view-saved-boundaries:hover, .preview-boundary:hover{
        cursor: pointer;
        color: #4d4f74;
    }
</style>
<div id="boundaries-container">
    {% for boundary_id, boundary in boundaries.items %}
        <div class="boundary-container">
            <div>
                <label for="boundary{{boundary_id}}">Boundary Id {{ boundary_id }}</label>
                <br>
                <a
                    class="preview-boundary"
                    target="_blank"
                    onclick="previewBoundary(this)"
                    href="#"
                    >
                    Preview
                </a>
            </div>


            <textarea
                    class="boundary-textarea" name="current-boundary:{{boundary_id}}" rows="4"
                    cols="50">{{ boundary |join:", " }}</textarea>
            <button class="delete-boundary" data-for="{{boundary_id}}" onclick="markAsDeleted()">
                Mark For Deletion
            </button>
        </div>
    {% endfor %}
</div>
<div id="deleted-boundaries" style="display:none"></div>
<button id="add-new-boundary" onclick="addNewBoundary()">Add New Boundary</button>
<button type="file" id="upload-shape-file-data"
        onclick="triggerShapeFileInput()"
>
    Upload Shape File Data
</button>
<a
    id="view-saved-boundaries"
    target="_blank"
    href="{% url 'community-boundaries-view' community_id %}">
    View All Saved Boundaries
</a>
<input
        type="file" id="shapefile-input" name="shapefile" style="display: none"
        onchange="uploadShapeFileData(this)"
        accept=".zip"
>
<script>
var newBoundaryCount = 0

function triggerShapeFileInput() {
   event.preventDefault()
   document.getElementById('shapefile-input').click()
}
function previewBoundary(self) {
  event.preventDefault()
  const parentBoundaryContainer = self.closest('.boundary-container')
  const textArea = parentBoundaryContainer.querySelector('textarea')
  const boundary = textArea.value
  if (!boundary) {
    alert('Boundary Is Not Defined')
    return
  }

  // open boundary preview
  const url = `{% url 'boundary-view' %}?boundary=[${boundary}]`
  window.open(url, '_blank');
}
async function uploadShapeFileData(self) {
  event.preventDefault()
  var files = event.target.files;
  var file = files[0];

  try {
    const shapeFileData = await file.arrayBuffer()
    const geoJsonData = await shp(shapeFileData)

    // merge geoJson to get unique contours
    const distinctGeoJsonFeatures = turf.union(...geoJsonData.features)

    // extract boundaries from each unique contour
    // there will be one boundary per contour
    const distinctBoundaries = [].concat(...distinctGeoJsonFeatures.geometry.coordinates).map(arr => arr)

    // for each distinct new boundary a boundary ui element is created
    // and populated with boundary data from shape file
    for(let i = 0; i < distinctBoundaries.length; i++) {
      const distinctBoundaryStr = distinctBoundaries[i].map(function(coordinate){
        // reverse so code extracts (lat-lon)'s
        return `(${coordinate[1]}, ${coordinate[0]}) `}
      )
      addNewBoundary(distinctBoundaryStr)
    }

  } catch (e) {
    console.log('Error extracting boundary data from Shape File', e)
  }

  // set value to null so user can resubmit
  // same file if needed
  self.value = null
  return false
}
function markAsDeleted() {
  event.preventDefault()
  const id = event.target.dataset.for
  const selectorKey = `boundary${id}`
  const deletedBoundaryMarker = document.querySelector(`[data-deleted=${selectorKey}]`)

  // -----------toggle deletion marker
  event.target.classList.toggle("selected");

  if (deletedBoundaryMarker) {
    // if marked for deletion, then remove marker
    deletedBoundaryMarker.remove()
  } else {
    // otherwise, add marker for deletion
    const deletedBoundariesContainer = document.getElementById('deleted-boundaries')
    deletedBoundariesContainer.insertAdjacentHTML(
      'beforeend',
      `<input type="text" data-deleted="${selectorKey}" name="deleted-boundary:${id}">`
    )
  }
  // -----------toggle deletion marker

}

function removeBoundary(){
  event.preventDefault()
  newBoundaryCount--
  event.target.closest(".boundary-container").remove()
}
function addNewBoundary(data='') {
    event.preventDefault()
    newBoundaryCount++
    const boundaryContainer = document.getElementById('boundaries-container')
    boundaryContainer.insertAdjacentHTML(
      'beforeend',
      `<div class="boundary-container">
            <div>
                <label>New Boundary</label>
                <br>
                <a
                    class="preview-boundary"
                    target="_blank"
                    onclick="previewBoundary(this)"
                    href='#'
                    >
                    Preview
                </a>
            </div>
            <textarea
                name="new-boundary:${newBoundaryCount}"
                class="boundary-textarea" rows="4"
                cols="50">${data}</textarea>
            <button class="delete-boundary" onclick="removeBoundary()">
                Remove
            </button>
        </div>`
    )
}
</script>
<script src="{% static 'javascript/shpjs.js' %}"></script>
<script src="{% static 'javascript/turf.js' %}"></script>
