{% extends 'register-base.html' %} {% block title %} Create Service Provider {% endblock %}{% load static %} {% block card %}
<script src="https://www.google.com/recaptcha/api.js?render=6LchglYpAAAAAABKj7CtiTlfvmPVN5eU2DzTVl2U"></script>
<script>
    grecaptcha.ready(function () {
      grecaptcha
        .execute("6LchglYpAAAAAABKj7CtiTlfvmPVN5eU2DzTVl2U", {
          action: "subscription",
        })
        .then(function (token) {
          document.getElementById("g-recaptcha-response").value = token;
        });
    });
</script>

<div class="flex-this column account-registration-container">
    <div class="flex-this space-between">
        <div><h2 class="mt-0 mb-8">Service Provider Account</h2></div>
    </div>

    <p class="mb-0 mt-0">
        A <a class="default-a" href="https://localcontexts.org/members-subscribers-and-service-providers/" target="_blank" rel="noopener">certification program</a> for service provider accounts was launched in October 2024. After you submit this form, we will reach out to you and any contacts you indicate below to discuss the certification process.
    </p>
    <p class="mb-0">
        The service provider name, location, and description will be displayed in the Local Contexts Registry. Read more about our privacy standards <a class="default-a" href="https://localcontexts.org/privacy-policy/" target="_blank" rel="noopener">here<i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i></a>.
    </p>


    <form action="" method="POST" class="flex-this column w-100">
        {% csrf_token %}

        <div class="w-100 flex-this mt-16">
            <div class="w-50 mr-1p">
                <label class="pad-top-1-5" >First Name</label>
                {{ user_form.first_name }}
            </div>

            <div class="w-50">
                <label>Last Name</label>
                {{ user_form.last_name }}
            </div>
        </div>

        <div class="mt-8 w-100">
            <label for="name">
                Service Provider Name<span class="orange-text required-label" title="">*</span>
            </label>
            {{ form.name }}

            {% if form.name.errors %}
                <div class="msg-red w-50"><small>{{ form.name.errors.as_text }}</small></div>
            {% elif form.non_field_errors %}
                <div class="msg-red w-50"><small>{{ form.non_field_errors.as_text }}</small></div>
            {% endif %}

            {% include 'partials/_alerts.html' %}
        </div>

        <div class="w-100 mt-8">
            <label for="description">Service Provider Description<span class="orange-text required-label" title="">*</span></label>
            <div class="tooltip"><strong>i</strong>
                <span class="tooltiptext">A brief description of your organization/platform to share with others on the Hub.</span>
            </div>
            {{ form.description }}
            {% if form.description.errors %}
                <div class="msg-red w-50"><small>{{ form.description.errors.as_text }}</small></div>
            {% endif %}
            <small id="charCount" class="block text-align-right">200/200</small>
        </div>

        <div class="w-100">
            <label for="website">Service Provider Website</label>
            {{ form.website }}
            {% if form.website.errors %}
                <div class="msg-red w-50"><small>{{ form.website.errors.as_text }}</small></div>
            {% endif %}
        </div>

        <div class="w-100 flex-this mt-8">
            <div class="w-50 mr-1p">
                <label for="contact_name">
                    Contact name<span class="orange-text required-label" title="">*</span>
                </label>
                {{ form.contact_name }}
            </div>

            <div class="w-50">
                <label for="contact_email">
                    Contact Email<span class="orange-text required-label" title="">*</span>
                </label>
                {{ form.contact_email }}
            </div>
        </div>

        <div class="flex-this flex-end">
            <input
            type="hidden"
            name="g-recaptcha-response"
            id="g-recaptcha-response"
            />
            <div class="mt-8">
                <button class="primary-btn action-btn mt-2p" name="create-service-provider-btn">Continue <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>

    </form>

</div>

{% endblock %}