{% load static %}
<div class="flex-this column">
    <div class="stats-card flex-this flex-start">
        <div>
            <p>00</p>
        </div>
        <div class="ml-16">
            <span>Labels</span>
        </div>
    </div>
    <div class="stats-card flex-this flex-start">
        <div>
            <p>00</p>
        </div>
        <div class="ml-16">
            <span>Labels</span>
        </div>
    </div>
    <div class="stats-card flex-this flex-start">
        <div>
            <p>00</p>
        </div>
        <div class="ml-16">
            <span>Labels</span>
        </div>
    </div>
</div>