{% if entity.name_of_boundary %}
<style>
    .border-hr{
        border: 1px solid #DDDDDD;
    }
    #preview-boundary-container{
        display: flex;
        justify-content: space-between;
    }
    #boundary-container-right{
        display: flex;
        flex-direction: row;
    }
    .center-boundary-container-item-vertically{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #remove-boundary{
        font-weight: bold;
        color: #007385;
        cursor: pointer;
        margin-right: 30px;
    }
    #preview-boundary-container.hidden-element{
        display: none;
    }
    .name_of_boundary {
        field-sizing: content;
        padding: 12px;
        font-weight: bold;
        font-size: 16px;
        max-height: 40px;
        min-height: 40px;
        background-color: #fff;
        border: 1px solid #1f293700;
        border-radius: 4px;
        max-width: 560px;
    }
    #edit_name_icon {
        margin-left: 10px;
        margin-top: 11px;
        color: grey;
    }
</style>

<script>
    async function resetBoundary(){
       showSpinner()
        // do post call to reset boundary in request
        const response = await fetch("{{ boundary_reset_url }}", {
            method: 'POST',
            headers: {
            'X-CSRFToken': '{{csrf_token}}'
            }
        })
        if (response.status !== 204) {
            alert('Error Resetting Boundary')
        }
        document.querySelector('#preview-boundary-container').classList.add('hidden-element')
        hideSpinner()
    }

    function shapeFileChange(self) {
      // set the input element sent to backend when saved
      BoundaryPayLoad.name = self.value
      document.querySelector('#boundary-data').value = JSON.stringify(BoundaryPayLoad)
    }

    function enableNameInput(self) {
      self.classList.add('disabled')
      document.querySelector('.name_of_boundary').disabled = false
    }
    function disableNameInput(self) {
      self.disabled = true
      document.querySelector('#edit_name_icon').classList.remove('disabled')
    }
</script>
<div id="preview-boundary-container">

    <div class="center-boundary-container-item-vertically" style="width: calc(100% - 300px);">
        <div style="display: flex">
            <input disabled class='name_of_boundary' value="{{ entity.name_of_boundary }}"
                   onchange="shapeFileChange(this)"
                   onblur="disableNameInput(this)"
            >
            {% if 'native-land.ca' not in entity.source_of_boundary %}
                <i id="edit_name_icon" class="fa-solid fa-edit sm pointer"
                    onclick="enableNameInput(this)"
                ></i>
            {% endif %}
        </div>
    </div>

    <div id="boundary-container-right">
        <div id="remove-boundary" class="center-boundary-container-item-vertically"
            onclick="resetBoundary(); event.preventDefault()">
            Remove
        </div>
        <div class="center-boundary-container-item-vertically">
        <a class="primary-btn green-btn mt-2p"
        href="{{ boundary_preview_url }}"
        target="_blank">
            View Location
            <i class="fa fa-arrow-up-right-from-square"></i>
        </a>
        </div>
    </div>

</div>
<hr class="border-hr">

{% endif %}
