{% extends 'auth-base.html' %} {% block main %}

    {% include 'partials/infocards/_account-dashcard.html' %}
    {% include 'partials/_subnav.html' %}

    {% if community %}
        {% block community_content %}{% endblock %}
    {% endif %}

    {% if institution %}
        {% block institution_content %}{% endblock %}
    {% endif %}

    {% if researcher %}
        {% block researcher_content %}{% endblock %}
    {% endif %}

    {% if service_provider %}
        {% block service_provider_content %}{% endblock %}
    {% endif %}

{% endblock %}