{% extends 'auth-base.html' %} {% block title %} Update Account {% endblock %} {% block main %} {% load static %}

    {% if community %}
        {% include 'partials/infocards/_community-dashcard.html' %}
        {% include 'partials/_subnav.html' %}
    {% endif %}

    {% if institution %}
        {% include 'partials/infocards/_institution-dashcard.html' %}
        {% include 'partials/_subnav.html' %}
    {% endif %}

    {% if researcher %}
        {% include 'partials/infocards/_researcher-dashcard.html' %}
        {% include 'partials/_subnav.html' %}
    {% endif %}

    <div
    class="content-card-v2 content-card-space flex-this column settings-height"
    >
    <h2 class="no-top-margin">Account Settings</h2>

    <div class="flex-this w-100 margin-bottom-2">

        <div class="side-nav-container">
            <a href="{% if community %}{% url 'update-community' community.id %}{% endif %}{% if institution %}{% url 'update-institution' institution.id %}{% endif %}{% if researcher %}{% url 'update-researcher' researcher.id %}{% endif %}">
                <div class="flex-this side-nav-item {% if '/update/' in request.path %} selected {% else %} grey-text {% endif %}">
                    <div class="w-20 margin-left-8 margin-top-8"><i class="fa-solid fa-circle-user fa-3x"></i></div>
                    <div class="w-80">
                        <p class="no-top-margin">
                            {% if community %}
                                <strong>Community Account</strong><br>Image, description, location
                            {% endif %}
                            {% if institution %}
                                <strong>Institution Account</strong><br>Image, description, location
                            {% endif %}
                            {% if researcher %}
                                <strong>Researcher Account</strong><br>Contact email, primary institution, description
                            {% endif %}
                        </p>
                    </div>
                </div>
            </a>

            {% if community %}
                <a href="{% if community %}{% url 'update-community-boundary' community.id %}{% endif %}">
                    <div class="flex-this side-nav-item {% if '/communities/update-community-boundary/' in request.path %} selected {% else %} grey-text {% endif %}">
                        <div class="w-20 margin-left-8 margin-top-8"><i class="fa-solid fa-location-dot fa-3x"></i></div>
                        <div class="w-80">
                            <p class="margin-top-8">
                                <strong>Boundary</strong><br>Community Location
                            </p>
                        </div>
                    </div>
                </a>
            {% endif %}

            {% if institution and institution.is_subscribed %}
                <a class="side-nav-a" href="{% url 'institution-api-key' institution.id %}">
                    <div class="side-nav-item {% if 'api-key' in request.path %} selected {% else %} grey-text {% endif %}">
                        <div class="w-20 margin-right-8"><i class="fa fa-code fa-3x" aria-hidden="true"></i></div>
                        <div class="w-80">
                            <p class="no-top-margin"><strong>API Keys</strong><br>Manage API Keys</p>
                        </div>
                    </div>
                </a>
            {% endif %}
        </div>

        <!-- Right side of the settings div -->
        <div class="flex-this column w-80">
            {% block account_settings %}{% endblock %}
        </div>

    </div>

    </div>

{% endblock %}




